# Stage 2 Preprocessing

Membuang semua feature dengan data type string

In [1]:
import warnings
warnings.filterwarnings("ignore")

import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder

pd.set_option('display.max_rows', None)
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

In [2]:
# Function Untuk Mengurangi size data
# Refer :- https://www.kaggle.com/rinnqd/reduce-memory-usage

def reduce_memory_usage(df):
  
    start_mem = df.memory_usage().sum() / 1024**2
    print('Memory usage of dataframe is {:.2f} MB'.format(start_mem))
    
    for col in df.columns:
        col_type = df[col].dtype
        
        if col_type != object:
            c_min = df[col].min()
            c_max = df[col].max()
            if str(col_type)[:3] == 'int':
                if c_min > np.iinfo(np.int8).min and c_max < np.iinfo(np.int8).max:
                    df[col] = df[col].astype(np.int8)
                elif c_min > np.iinfo(np.int16).min and c_max < np.iinfo(np.int16).max:
                    df[col] = df[col].astype(np.int16)
                elif c_min > np.iinfo(np.int32).min and c_max < np.iinfo(np.int32).max:
                    df[col] = df[col].astype(np.int32)
                elif c_min > np.iinfo(np.int64).min and c_max < np.iinfo(np.int64).max:
                    df[col] = df[col].astype(np.int64)  
            else:
                if c_min > np.finfo(np.float16).min and c_max < np.finfo(np.float16).max:
                    df[col] = df[col].astype(np.float16)
                elif c_min > np.finfo(np.float32).min and c_max < np.finfo(np.float32).max:
                    df[col] = df[col].astype(np.float32)
                else:
                    df[col] = df[col].astype(np.float64)

    end_mem = df.memory_usage().sum() / 1024**2
    print('Memory usage after optimization is: {:.2f} MB'.format(end_mem))
    print('Decreased by {:.1f}%'.format(100 * (start_mem - end_mem) / start_mem))
    
    return df

In [3]:
# function untuk cek unique value
def check_unique_value(data):
    for i in data.columns:
        print(f"{[i]} \n {data[i].unique()} \n")

In [4]:
# function untuk cek persentase null value
def check_null_percentage(df):
    # Hitung total rows
    total_rows = len(df)

    # Hitung null values dan persentasenya
    null_counts = df.isnull().sum()
    null_percentage = (null_counts / total_rows * 100).round(2)

    # Buat dataframe hasil
    null_df = pd.DataFrame({
        'Total_Null': null_counts,
        'Null_Percentage': null_percentage
    })

    # Sorting berdasarkan persentase null terbesar
    null_df = null_df.sort_values('Null_Percentage', ascending=False)

    # Filter hanya kolom yang memiliki null values
    null_df = null_df[null_df['Total_Null'] > 0]

    return null_df

# Check null value (data) after handling null value
#null_analysis = check_null_percentage(data)
#print("Total rows in dataset:", len(data))
#print("\nNull Value Analysis:")
#print(null_analysis)

In [5]:
# function untuk melakukan One-Hot-Encoding
def one_hot_encode(df):
    original_columns = list(df.columns)
    categories = [cat for cat in df.columns if df[cat].dtype == 'object']
    df = pd.get_dummies(df, columns= categories, dummy_na= True) #one_hot_encode the categorical features
    categorical_columns = [cat for cat in df.columns if cat not in original_columns]
    return df, categorical_columns

# Importing Data

In [6]:
# import data
train = pd.read_csv("application_train.csv")
test  = pd.read_csv("application_test.csv")
bureau  = pd.read_csv("bureau.csv")
bureau_bal  = pd.read_csv("bureau_balance.csv")
prev  = pd.read_csv("previous_application.csv")
ccb  = pd.read_csv("credit_card_balance.csv")
pos_cb  = pd.read_csv("POS_CASH_balance.csv")
installment  = pd.read_csv("installments_payments.csv")

In [7]:
# check dimensions
print("Application:", train.shape, test.shape)
print("Bureau:", bureau.shape)
print("Bureau_balance:", bureau_bal.shape)
print("Previous_application:", prev.shape)
print("Credit_Card_Balance:", ccb.shape)
print("Posh_cash_Balance:", pos_cb.shape)
print("Instalment:", installment.shape)

Application: (307511, 122) (48744, 121)
Bureau: (1716428, 17)
Bureau_balance: (27299925, 3)
Previous_application: (1670214, 37)
Credit_Card_Balance: (3840312, 23)
Posh_cash_Balance: (10001358, 8)
Instalment: (13605401, 8)

# 1. Preprocessing Application Data

## 1.1 Application train

In [8]:
reduce_memory_usage(train)
train.info(verbose=True)

Memory usage of dataframe is 286.23 MB
Memory usage after optimization is: 92.38 MB
Decreased by 67.7%
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 307511 entries, 0 to 307510
Data columns (total 122 columns):
 #    Column                        Dtype
---   ------                        -----
 0    SK_ID_CURR                    int32
 1    TARGET                        int8
 2    NAME_CONTRACT_TYPE            object
 3    CODE_GENDER                   object
 4    FLAG_OWN_CAR                  object
 5    FLAG_OWN_REALTY               object
 6    CNT_CHILDREN                  int8
 7    AMT_INCOME_TOTAL              float32
 8    AMT_CREDIT                    float32
 9    AMT_ANNUITY                   float32
 10   AMT_GOODS_PRICE               float32
 11   NAME_TYPE_SUITE               object
 12   NAME_INCOME_TYPE              object
 13   NAME_EDUCATION_TYPE           object
 14   NAME_FAMILY_STATUS            object
 15   NAME_HOUSING_TYPE             object
 16   REGION_POPULATION_RELATIVE    float16
 17   DAYS_BIRTH                    int16
 18   DAYS_EMPLOYED                 int32
 19   DAYS_REGISTRATION             float16
 20   DAYS_ID_PUBLISH               int16
 21   OWN_CAR_AGE                   float16
 22   FLAG_MOBIL                    int8
 23   FLAG_EMP_PHONE                int8
 24   FLAG_WORK_PHONE               int8
 25   FLAG_CONT_MOBILE              int8
 26   FLAG_PHONE                    int8
 27   FLAG_EMAIL                    int8
 28   OCCUPATION_TYPE               object
 29   CNT_FAM_MEMBERS               float16
 30   REGION_RATING_CLIENT          int8
 31   REGION_RATING_CLIENT_W_CITY   int8
 32   WEEKDAY_APPR_PROCESS_START    object
 33   HOUR_APPR_PROCESS_START       int8
 34   REG_REGION_NOT_LIVE_REGION    int8
 35   REG_REGION_NOT_WORK_REGION    int8
 36   LIVE_REGION_NOT_WORK_REGION   int8
 37   REG_CITY_NOT_LIVE_CITY        int8
 38   REG_CITY_NOT_WORK_CITY        int8
 39   LIVE_CITY_NOT_WORK_CITY       int8
 40   ORGANIZATION_TYPE             object
 41   EXT_SOURCE_1                  float16
 42   EXT_SOURCE_2                  float16
 43   EXT_SOURCE_3                  float16
 44   APARTMENTS_AVG                float16
 45   BASEMENTAREA_AVG              float16
 46   YEARS_BEGINEXPLUATATION_AVG   float16
 47   YEARS_BUILD_AVG               float16
 48   COMMONAREA_AVG                float16
 49   ELEVATORS_AVG                 float16
 50   ENTRANCES_AVG                 float16
 51   FLOORSMAX_AVG                 float16
 52   FLOORSMIN_AVG                 float16
 53   LANDAREA_AVG                  float16
 54   LIVINGAPARTMENTS_AVG          float16
 55   LIVINGAREA_AVG                float16
 56   NONLIVINGAPARTMENTS_AVG       float16
 57   NONLIVINGAREA_AVG             float16
 58   APARTMENTS_MODE               float16
 59   BASEMENTAREA_MODE             float16
 60   YEARS_BEGINEXPLUATATION_MODE  float16
 61   YEARS_BUILD_MODE              float16
 62   COMMONAREA_MODE               float16
 63   ELEVATORS_MODE                float16
 64   ENTRANCES_MODE                float16
 65   FLOORSMAX_MODE                float16
 66   FLOORSMIN_MODE                float16
 67   LANDAREA_MODE                 float16
 68   LIVINGAPARTMENTS_MODE         float16
 69   LIVINGAREA_MODE               float16
 70   NONLIVINGAPARTMENTS_MODE      float16
 71   NONLIVINGAREA_MODE            float16
 72   APARTMENTS_MEDI               float16
 73   BASEMENTAREA_MEDI             float16
 74   YEARS_BEGINEXPLUATATION_MEDI  float16
 75   YEARS_BUILD_MEDI              float16
 76   COMMONAREA_MEDI               float16
 77   ELEVATORS_MEDI                float16
 78   ENTRANCES_MEDI                float16
 79   FLOORSMAX_MEDI                float16
 80   FLOORSMIN_MEDI                float16
 81   LANDAREA_MEDI                 float16
 82   LIVINGAPARTMENTS_MEDI         float16
 83   LIVINGAREA_MEDI               float16
 84   NONLIVINGAPARTMENTS_MEDI      float16
 85   NONLIVINGAREA_MEDI            float16
 86   FONDKAPREMONT_MODE            object
 87   HOUSETYPE_MODE                object
 88   TOTALAREA_MODE                float16
 89   WALLSMATERIAL_MODE            object
 90   EMERGENCYSTATE_MODE           object
 91   OBS_30_CNT_SOCIAL_CIRCLE      float16
 92   DEF_30_CNT_SOCIAL_CIRCLE      float16
 93   OBS_60_CNT_SOCIAL_CIRCLE      float16
 94   DEF_60_CNT_SOCIAL_CIRCLE      float16
 95   DAYS_LAST_PHONE_CHANGE        float16
 96   FLAG_DOCUMENT_2               int8
 97   FLAG_DOCUMENT_3               int8
 98   FLAG_DOCUMENT_4               int8
 99   FLAG_DOCUMENT_5               int8
 100  FLAG_DOCUMENT_6               int8
 101  FLAG_DOCUMENT_7               int8
 102  FLAG_DOCUMENT_8               int8
 103  FLAG_DOCUMENT_9               int8
 104  FLAG_DOCUMENT_10              int8
 105  FLAG_DOCUMENT_11              int8
 106  FLAG_DOCUMENT_12              int8
 107  FLAG_DOCUMENT_13              int8
 108  FLAG_DOCUMENT_14              int8
 109  FLAG_DOCUMENT_15              int8
 110  FLAG_DOCUMENT_16              int8
 111  FLAG_DOCUMENT_17              int8
 112  FLAG_DOCUMENT_18              int8
 113  FLAG_DOCUMENT_19              int8
 114  FLAG_DOCUMENT_20              int8
 115  FLAG_DOCUMENT_21              int8
 116  AMT_REQ_CREDIT_BUREAU_HOUR    float16
 117  AMT_REQ_CREDIT_BUREAU_DAY     float16
 118  AMT_REQ_CREDIT_BUREAU_WEEK    float16
 119  AMT_REQ_CREDIT_BUREAU_MON     float16
 120  AMT_REQ_CREDIT_BUREAU_QRT     float16
 121  AMT_REQ_CREDIT_BUREAU_YEAR    float16
dtypes: float16(61), float32(4), int16(2), int32(2), int8(37), object(16)
memory usage: 92.4+ MB

In [9]:
# List of common missing value strings
missing_values = [
    'NA', 'N/A', 'null', 'NaN','nan', 'XNA', 'None', 'empty', 'undefined', 'unknown', 'Unknown',
    '--', 'not available', '',' ','  ','   ', 'missing', 'unavailable', 'not applicable',
    'not found', 'no data', 'no value', 'n/a', 'none', 'null value', 'unknown value', 'blank', 'invalid', 'error',
    'unassigned', 'uninitialized', 'void', 'undisclosed', 'unreported', 'empty string',
    'na', 'not recorded', 'unanswered', 'not specified', 'unobserved', 'unpopulated',
    'none of the above', 'does not apply', 'ignored', 'unspecified', 'unfilled', 'inapplicable',
    'unavailable value', 'not entered', 'missing value', 'data not available', 'data missing',
    'not inputted', 'not given', 'unrecorded', 'unfurnished', 'undocumented', 'not listed',
    'unsupplied', 'empty field', 'unfilled field', 'unanswered question', 'no response',
    'not provided', 'not reported', 'unanswered', 'unacknowledged', 'no information',
    'no response recorded', 'no submission', 'no entry', 'not logged', 'unverified',
    'unobserved value', 'data absent', 'absence', 'unfilled cell', 'undefined data',
    'does not exist', 'not found', 'missing data', 'no answer', 'unavailable information',
    'no input', 'data error', 'unseen', 'unviewed', 'not selected', 'irrelevant',
    'skipped', 'no response given', 'no feedback', 'failed', 'discarded', 'no record',
    'unfetched', 'not completed', 'not finished', 'not updated', 'forgotten', 'rejected',
    'unsupplied data', 'data void', 'undetermined', 'not checked', 'not applicable here',
    'unattended', 'data missing', 'nonexistent', 'unsubscribed', 'denied', 'unaccepted',
    'unwitnessed', 'discarded entry', 'rejected data', 'unapplicable', 'non-populated',
    'unapplicable field', 'lost', 'absent data', 'no match', 'no result'
]

# Optimized function to replace missing-like values with NaN
def replace_missing_with_null(df, missing_values_set):
    # Select object type columns
    df_object_columns = df.select_dtypes(include=['object'])

    # Replace missing-like values with NaN
    for col in df_object_columns.columns:
        # Vectorized replacement of missing-like values with NaN
        df[col] = df[col].apply(lambda x: np.nan if str(x).strip() in missing_values_set else x)

    return df

In [10]:
train = replace_missing_with_null(train, missing_values)

In [11]:
# Check Null Value
null_analysis = check_null_percentage(train)
print("Total rows in dataset:", len(train))
print("\nNull Value Analysis:")
print(null_analysis)

Total rows in dataset: 307511

Null Value Analysis:
                              Total_Null  Null_Percentage
FONDKAPREMONT_MODE                215982            70.24
COMMONAREA_AVG                    214865            69.87
COMMONAREA_MODE                   214865            69.87
COMMONAREA_MEDI                   214865            69.87
NONLIVINGAPARTMENTS_MODE          213514            69.43
NONLIVINGAPARTMENTS_MEDI          213514            69.43
NONLIVINGAPARTMENTS_AVG           213514            69.43
LIVINGAPARTMENTS_AVG              210199            68.35
LIVINGAPARTMENTS_MEDI             210199            68.35
LIVINGAPARTMENTS_MODE             210199            68.35
FLOORSMIN_MODE                    208642            67.85
FLOORSMIN_AVG                     208642            67.85
FLOORSMIN_MEDI                    208642            67.85
YEARS_BUILD_AVG                   204488            66.50
YEARS_BUILD_MODE                  204488            66.50
YEARS_BUILD_MEDI                  204488            66.50
OWN_CAR_AGE                       202929            65.99
LANDAREA_MEDI                     182590            59.38
LANDAREA_AVG                      182590            59.38
LANDAREA_MODE                     182590            59.38
BASEMENTAREA_MODE                 179943            58.52
BASEMENTAREA_MEDI                 179943            58.52
BASEMENTAREA_AVG                  179943            58.52
EXT_SOURCE_1                      173378            56.38
NONLIVINGAREA_MODE                169682            55.18
NONLIVINGAREA_AVG                 169682            55.18
NONLIVINGAREA_MEDI                169682            55.18
ELEVATORS_AVG                     163891            53.30
ELEVATORS_MEDI                    163891            53.30
ELEVATORS_MODE                    163891            53.30
WALLSMATERIAL_MODE                156341            50.84
APARTMENTS_AVG                    156061            50.75
APARTMENTS_MEDI                   156061            50.75
APARTMENTS_MODE                   156061            50.75
ENTRANCES_MODE                    154828            50.35
ENTRANCES_MEDI                    154828            50.35
ENTRANCES_AVG                     154828            50.35
LIVINGAREA_AVG                    154350            50.19
LIVINGAREA_MEDI                   154350            50.19
LIVINGAREA_MODE                   154350            50.19
HOUSETYPE_MODE                    154297            50.18
FLOORSMAX_MODE                    153020            49.76
FLOORSMAX_AVG                     153020            49.76
FLOORSMAX_MEDI                    153020            49.76
YEARS_BEGINEXPLUATATION_MODE      150007            48.78
YEARS_BEGINEXPLUATATION_MEDI      150007            48.78
YEARS_BEGINEXPLUATATION_AVG       150007            48.78
TOTALAREA_MODE                    148431            48.27
EMERGENCYSTATE_MODE               145755            47.40
OCCUPATION_TYPE                    96391            31.35
EXT_SOURCE_3                       60965            19.83
ORGANIZATION_TYPE                  55374            18.01
AMT_REQ_CREDIT_BUREAU_WEEK         41519            13.50
AMT_REQ_CREDIT_BUREAU_MON          41519            13.50
AMT_REQ_CREDIT_BUREAU_HOUR         41519            13.50
AMT_REQ_CREDIT_BUREAU_DAY          41519            13.50
AMT_REQ_CREDIT_BUREAU_YEAR         41519            13.50
AMT_REQ_CREDIT_BUREAU_QRT          41519            13.50
NAME_TYPE_SUITE                     1292             0.42
OBS_60_CNT_SOCIAL_CIRCLE            1021             0.33
DEF_60_CNT_SOCIAL_CIRCLE            1021             0.33
OBS_30_CNT_SOCIAL_CIRCLE            1021             0.33
DEF_30_CNT_SOCIAL_CIRCLE            1021             0.33
EXT_SOURCE_2                         660             0.21
AMT_GOODS_PRICE                      278             0.09
CODE_GENDER                            4             0.00
AMT_ANNUITY                           12             0.00
NAME_FAMILY_STATUS                     2             0.00
CNT_FAM_MEMBERS                        2             0.00
DAYS_LAST_PHONE_CHANGE                 1             0.00

Terdapat beberapa features yang memiliki null value (percentage) yang tinggi, sehingga saya memutuskan untuk me-drop beberapa feature yang memiliki null value di atas 40% dan dianggap tidak penting.

Untuk feature yang berada di atas 20% akan diisi dengan 0 atau unknown dan dibawah 20% akan diisi dengan median atau modus

In [12]:
train = train.drop(columns=['APARTMENTS_MEDI', 'BASEMENTAREA_MEDI', 'COMMONAREA_MEDI', 'ELEVATORS_MEDI', 'ENTRANCES_MEDI', 'WALLSMATERIAL_MODE', 'HOUSETYPE_MODE',
                                        'FLOORSMAX_MEDI', 'FLOORSMIN_MEDI', 'LANDAREA_MEDI', 'LIVINGAPARTMENTS_MEDI', 'LIVINGAREA_MEDI', 'EMERGENCYSTATE_MODE',
                                        'NONLIVINGAPARTMENTS_MEDI', 'NONLIVINGAREA_MEDI','YEARS_BEGINEXPLUATATION_MEDI', 'YEARS_BUILD_MEDI', 'FONDKAPREMONT_MODE',
                                        'APARTMENTS_MODE', 'BASEMENTAREA_MODE', 'COMMONAREA_MODE','ELEVATORS_MODE', 'ENTRANCES_MODE', 
                                        'FLOORSMAX_MODE', 'FLOORSMIN_MODE', 'LANDAREA_MODE', 'LIVINGAPARTMENTS_MODE', 'LIVINGAREA_MODE', 
                                        'NONLIVINGAPARTMENTS_MODE', 'NONLIVINGAREA_MODE', 'TOTALAREA_MODE', 'YEARS_BEGINEXPLUATATION_MODE', 'YEARS_BUILD_MODE'], axis = 1)

In [13]:
def handling_na(data):
    # Mengisi nilai null untuk kolom tertentu dengan 0
    columns_fill_zero = ['COMMONAREA_AVG', 'NONLIVINGAPARTMENTS_AVG', 'LIVINGAPARTMENTS_AVG', 
                         'FLOORSMIN_AVG', 'YEARS_BUILD_AVG', 'OWN_CAR_AGE', 
                         'LANDAREA_AVG', 'BASEMENTAREA_AVG', 'EXT_SOURCE_1', 
                         'NONLIVINGAREA_AVG', 'ELEVATORS_AVG', 'APARTMENTS_AVG', 
                         'ENTRANCES_AVG', 'LIVINGAREA_AVG', 'FLOORSMAX_AVG', 
                         'YEARS_BEGINEXPLUATATION_AVG', 'EXT_SOURCE_3']
    
    data[columns_fill_zero] = data[columns_fill_zero].fillna(0)  # Mengisi dengan 0

    # Mengisi nilai null untuk kolom tertentu dengan median
    columns_fill_median = ['AMT_REQ_CREDIT_BUREAU_DAY', 'AMT_REQ_CREDIT_BUREAU_HOUR', 
                            'AMT_REQ_CREDIT_BUREAU_YEAR', 'AMT_REQ_CREDIT_BUREAU_MON', 
                            'AMT_REQ_CREDIT_BUREAU_QRT', 'AMT_REQ_CREDIT_BUREAU_WEEK', 
                            'OBS_60_CNT_SOCIAL_CIRCLE', 'DEF_30_CNT_SOCIAL_CIRCLE', 
                            'DEF_60_CNT_SOCIAL_CIRCLE', 'OBS_30_CNT_SOCIAL_CIRCLE', 
                            'EXT_SOURCE_2', 'AMT_GOODS_PRICE', 'CNT_FAM_MEMBERS', 
                            'AMT_ANNUITY', 'DAYS_LAST_PHONE_CHANGE']
    
    data[columns_fill_median] = data[columns_fill_median].fillna(data[columns_fill_median].median())

    # Mengisi nilai null untuk kolom tertentu dengan modus
    columns_fill_mode = ['NAME_TYPE_SUITE', 'CODE_GENDER', 'NAME_FAMILY_STATUS', 'ORGANIZATION_TYPE']

    for column in columns_fill_mode:
        mode_value = data[column].mode()[0]
        data[column] = data[column].fillna(mode_value)

    # Mengisi nilai null menjadi unknown
    columns_fill_unknown = ['OCCUPATION_TYPE']

    data[columns_fill_unknown] = data[columns_fill_unknown].fillna('unkown')

In [14]:
handling_na(train)

In [15]:
# Check Duplicated Data
train.duplicated().sum()

np.int64(0)

In [16]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 307511 entries, 0 to 307510
Data columns (total 89 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   SK_ID_CURR                   307511 non-null  int32
 1   TARGET                       307511 non-null  int8
 2   NAME_CONTRACT_TYPE           307511 non-null  object
 3   CODE_GENDER                  307511 non-null  object
 4   FLAG_OWN_CAR                 307511 non-null  object
 5   FLAG_OWN_REALTY              307511 non-null  object
 6   CNT_CHILDREN                 307511 non-null  int8
 7   AMT_INCOME_TOTAL             307511 non-null  float32
 8   AMT_CREDIT                   307511 non-null  float32
 9   AMT_ANNUITY                  307511 non-null  float32
 10  AMT_GOODS_PRICE              307511 non-null  float32
 11  NAME_TYPE_SUITE              307511 non-null  object
 12  NAME_INCOME_TYPE             307511 non-null  object
 13  NAME_EDUCATION_TYPE          307511 non-null  object
 14  NAME_FAMILY_STATUS           307511 non-null  object
 15  NAME_HOUSING_TYPE            307511 non-null  object
 16  REGION_POPULATION_RELATIVE   307511 non-null  float16
 17  DAYS_BIRTH                   307511 non-null  int16
 18  DAYS_EMPLOYED                307511 non-null  int32
 19  DAYS_REGISTRATION            307511 non-null  float16
 20  DAYS_ID_PUBLISH              307511 non-null  int16
 21  OWN_CAR_AGE                  307511 non-null  float16
 22  FLAG_MOBIL                   307511 non-null  int8
 23  FLAG_EMP_PHONE               307511 non-null  int8
 24  FLAG_WORK_PHONE              307511 non-null  int8
 25  FLAG_CONT_MOBILE             307511 non-null  int8
 26  FLAG_PHONE                   307511 non-null  int8
 27  FLAG_EMAIL                   307511 non-null  int8
 28  OCCUPATION_TYPE              307511 non-null  object
 29  CNT_FAM_MEMBERS              307511 non-null  float16
 30  REGION_RATING_CLIENT         307511 non-null  int8
 31  REGION_RATING_CLIENT_W_CITY  307511 non-null  int8
 32  WEEKDAY_APPR_PROCESS_START   307511 non-null  object
 33  HOUR_APPR_PROCESS_START      307511 non-null  int8
 34  REG_REGION_NOT_LIVE_REGION   307511 non-null  int8
 35  REG_REGION_NOT_WORK_REGION   307511 non-null  int8
 36  LIVE_REGION_NOT_WORK_REGION  307511 non-null  int8
 37  REG_CITY_NOT_LIVE_CITY       307511 non-null  int8
 38  REG_CITY_NOT_WORK_CITY       307511 non-null  int8
 39  LIVE_CITY_NOT_WORK_CITY      307511 non-null  int8
 40  ORGANIZATION_TYPE            307511 non-null  object
 41  EXT_SOURCE_1                 307511 non-null  float16
 42  EXT_SOURCE_2                 307511 non-null  float16
 43  EXT_SOURCE_3                 307511 non-null  float16
 44  APARTMENTS_AVG               307511 non-null  float16
 45  BASEMENTAREA_AVG             307511 non-null  float16
 46  YEARS_BEGINEXPLUATATION_AVG  307511 non-null  float16
 47  YEARS_BUILD_AVG              307511 non-null  float16
 48  COMMONAREA_AVG               307511 non-null  float16
 49  ELEVATORS_AVG                307511 non-null  float16
 50  ENTRANCES_AVG                307511 non-null  float16
 51  FLOORSMAX_AVG                307511 non-null  float16
 52  FLOORSMIN_AVG                307511 non-null  float16
 53  LANDAREA_AVG                 307511 non-null  float16
 54  LIVINGAPARTMENTS_AVG         307511 non-null  float16
 55  LIVINGAREA_AVG               307511 non-null  float16
 56  NONLIVINGAPARTMENTS_AVG      307511 non-null  float16
 57  NONLIVINGAREA_AVG            307511 non-null  float16
 58  OBS_30_CNT_SOCIAL_CIRCLE     307511 non-null  float16
 59  DEF_30_CNT_SOCIAL_CIRCLE     307511 non-null  float16
 60  OBS_60_CNT_SOCIAL_CIRCLE     307511 non-null  float16
 61  DEF_60_CNT_SOCIAL_CIRCLE     307511 non-null  float16
 62  DAYS_LAST_PHONE_CHANGE       307511 non-null  float16
 63  FLAG_DOCUMENT_2              307511 non-null  int8
 64  FLAG_DOCUMENT_3              307511 non-null  int8
 65  FLAG_DOCUMENT_4              307511 non-null  int8
 66  FLAG_DOCUMENT_5              307511 non-null  int8
 67  FLAG_DOCUMENT_6              307511 non-null  int8
 68  FLAG_DOCUMENT_7              307511 non-null  int8
 69  FLAG_DOCUMENT_8              307511 non-null  int8
 70  FLAG_DOCUMENT_9              307511 non-null  int8
 71  FLAG_DOCUMENT_10             307511 non-null  int8
 72  FLAG_DOCUMENT_11             307511 non-null  int8
 73  FLAG_DOCUMENT_12             307511 non-null  int8
 74  FLAG_DOCUMENT_13             307511 non-null  int8
 75  FLAG_DOCUMENT_14             307511 non-null  int8
 76  FLAG_DOCUMENT_15             307511 non-null  int8
 77  FLAG_DOCUMENT_16             307511 non-null  int8
 78  FLAG_DOCUMENT_17             307511 non-null  int8
 79  FLAG_DOCUMENT_18             307511 non-null  int8
 80  FLAG_DOCUMENT_19             307511 non-null  int8
 81  FLAG_DOCUMENT_20             307511 non-null  int8
 82  FLAG_DOCUMENT_21             307511 non-null  int8
 83  AMT_REQ_CREDIT_BUREAU_HOUR   307511 non-null  float16
 84  AMT_REQ_CREDIT_BUREAU_DAY    307511 non-null  float16
 85  AMT_REQ_CREDIT_BUREAU_WEEK   307511 non-null  float16
 86  AMT_REQ_CREDIT_BUREAU_MON    307511 non-null  float16
 87  AMT_REQ_CREDIT_BUREAU_QRT    307511 non-null  float16
 88  AMT_REQ_CREDIT_BUREAU_YEAR   307511 non-null  float16
dtypes: float16(32), float32(4), int16(2), int32(2), int8(37), object(12)
memory usage: 66.0+ MB

In [17]:
# Feature Encoding
def feature_encode(data):
    data['FLAG_OWN_CAR'] = data['FLAG_OWN_CAR'].map({'N': 0, 'Y': 1})
    data['FLAG_OWN_REALTY'] = data['FLAG_OWN_REALTY'].map({'N': 0, 'Y': 1})
    data['WEEKDAY_APPR_PROCESS_START'] = data['WEEKDAY_APPR_PROCESS_START'].map({'MONDAY': 1, 'TUESDAY': 2, 'WEDNESDAY': 3, 'THURSDAY': 4, 'FRIDAY': 5, 'SATURDAY': 6, 'SUNDAY': 7})
    data['NAME_EDUCATION_TYPE'] = data['NAME_EDUCATION_TYPE'].map({'Lower secondary': 0, #Sekolah Menengah Pertama
                                                                   'Secondary / secondary special': 1, #Sekolah Menengah Atas
                                                                   'Incomplete higher': 2, # Pendidikan Tinggi yang belum selesai
                                                                   'Higher education': 3, # Pendidikan Tinggi
                                                                   'Academic degree': 4}) # Gelar Akademik

In [18]:
feature_encode(train)

In [19]:
testing1 = train['FLAG_OWN_CAR'].map({'N': 0, 'Y': 1})
testing1.value_counts()

Series([], Name: count, dtype: int64)

In [ ]:
# Feature Engineering

def application_FE(data):

    # Income Ratio
    data['DEBT_TO_INCOME'] = data['AMT_CREDIT'] / data['AMT_INCOME_TOTAL'] # Untuk mengukur seberapa mampu nasabah akan membayar dari total pendapatannya
    data["ANNUITY_TO_INCOME"] = data["AMT_ANNUITY"] / data["AMT_INCOME_TOTAL"] # Untuk mengukur rasio angsuran bulanan terhadap pendapatan nasabah

    # Usia dan Tenure
    data['AGE'] = round(-data['DAYS_BIRTH'] / 365).astype('Int64')
    data['TENURE'] = round(-data['DAYS_EMPLOYED'] / 365).astype('Int64') # Mengukur berapa tahun lamanya nasabah bekerja

    # Keluarga
    data['FAM_ADULT_MEMBERS'] = data['CNT_FAM_MEMBERS'] - data['CNT_CHILDREN'] # Menghitung berapa orang dewasa dalam satu keluarga
    data['CHILDREN_PER_FAM_MEMBERS'] = data['CNT_CHILDREN'] / data['CNT_FAM_MEMBERS'] # Menghitung rasio jumlah potensi tanggungan yang dimiliki

    # Kelengkapan Document
    data['NUM_DOCUMENTS'] = data.filter(like='FLAG_DOCUMENT').sum(axis=1)

    # External Source Mean
    data["EXT_SOURCE_MEAN"] = data[["EXT_SOURCE_1", "EXT_SOURCE_2", "EXT_SOURCE_3"]].mean(axis = 1)

In [21]:
train_clean = train.copy()

In [22]:
application_FE(train_clean)

In [23]:
train_obj = train_clean.select_dtypes('object').columns
train_clean = train_clean.drop(columns=train_obj)

## 1.2 Application test

In [24]:
reduce_memory_usage(test)
test.info(verbose=True)

Memory usage of dataframe is 45.00 MB
Memory usage after optimization is: 14.60 MB
Decreased by 67.6%
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48744 entries, 0 to 48743
Data columns (total 121 columns):
 #    Column                        Dtype
---   ------                        -----
 0    SK_ID_CURR                    int32
 1    NAME_CONTRACT_TYPE            object
 2    CODE_GENDER                   object
 3    FLAG_OWN_CAR                  object
 4    FLAG_OWN_REALTY               object
 5    CNT_CHILDREN                  int8
 6    AMT_INCOME_TOTAL              float32
 7    AMT_CREDIT                    float32
 8    AMT_ANNUITY                   float32
 9    AMT_GOODS_PRICE               float32
 10   NAME_TYPE_SUITE               object
 11   NAME_INCOME_TYPE              object
 12   NAME_EDUCATION_TYPE           object
 13   NAME_FAMILY_STATUS            object
 14   NAME_HOUSING_TYPE             object
 15   REGION_POPULATION_RELATIVE    float16
 16   DAYS_BIRTH                    int16
 17   DAYS_EMPLOYED                 int32
 18   DAYS_REGISTRATION             float16
 19   DAYS_ID_PUBLISH               int16
 20   OWN_CAR_AGE                   float16
 21   FLAG_MOBIL                    int8
 22   FLAG_EMP_PHONE                int8
 23   FLAG_WORK_PHONE               int8
 24   FLAG_CONT_MOBILE              int8
 25   FLAG_PHONE                    int8
 26   FLAG_EMAIL                    int8
 27   OCCUPATION_TYPE               object
 28   CNT_FAM_MEMBERS               float16
 29   REGION_RATING_CLIENT          int8
 30   REGION_RATING_CLIENT_W_CITY   int8
 31   WEEKDAY_APPR_PROCESS_START    object
 32   HOUR_APPR_PROCESS_START       int8
 33   REG_REGION_NOT_LIVE_REGION    int8
 34   REG_REGION_NOT_WORK_REGION    int8
 35   LIVE_REGION_NOT_WORK_REGION   int8
 36   REG_CITY_NOT_LIVE_CITY        int8
 37   REG_CITY_NOT_WORK_CITY        int8
 38   LIVE_CITY_NOT_WORK_CITY       int8
 39   ORGANIZATION_TYPE             object
 40   EXT_SOURCE_1                  float16
 41   EXT_SOURCE_2                  float16
 42   EXT_SOURCE_3                  float16
 43   APARTMENTS_AVG                float16
 44   BASEMENTAREA_AVG              float16
 45   YEARS_BEGINEXPLUATATION_AVG   float16
 46   YEARS_BUILD_AVG               float16
 47   COMMONAREA_AVG                float16
 48   ELEVATORS_AVG                 float16
 49   ENTRANCES_AVG                 float16
 50   FLOORSMAX_AVG                 float16
 51   FLOORSMIN_AVG                 float16
 52   LANDAREA_AVG                  float16
 53   LIVINGAPARTMENTS_AVG          float16
 54   LIVINGAREA_AVG                float16
 55   NONLIVINGAPARTMENTS_AVG       float16
 56   NONLIVINGAREA_AVG             float16
 57   APARTMENTS_MODE               float16
 58   BASEMENTAREA_MODE             float16
 59   YEARS_BEGINEXPLUATATION_MODE  float16
 60   YEARS_BUILD_MODE              float16
 61   COMMONAREA_MODE               float16
 62   ELEVATORS_MODE                float16
 63   ENTRANCES_MODE                float16
 64   FLOORSMAX_MODE                float16
 65   FLOORSMIN_MODE                float16
 66   LANDAREA_MODE                 float16
 67   LIVINGAPARTMENTS_MODE         float16
 68   LIVINGAREA_MODE               float16
 69   NONLIVINGAPARTMENTS_MODE      float16
 70   NONLIVINGAREA_MODE            float16
 71   APARTMENTS_MEDI               float16
 72   BASEMENTAREA_MEDI             float16
 73   YEARS_BEGINEXPLUATATION_MEDI  float16
 74   YEARS_BUILD_MEDI              float16
 75   COMMONAREA_MEDI               float16
 76   ELEVATORS_MEDI                float16
 77   ENTRANCES_MEDI                float16
 78   FLOORSMAX_MEDI                float16
 79   FLOORSMIN_MEDI                float16
 80   LANDAREA_MEDI                 float16
 81   LIVINGAPARTMENTS_MEDI         float16
 82   LIVINGAREA_MEDI               float16
 83   NONLIVINGAPARTMENTS_MEDI      float16
 84   NONLIVINGAREA_MEDI            float16
 85   FONDKAPREMONT_MODE            object
 86   HOUSETYPE_MODE                object
 87   TOTALAREA_MODE                float16
 88   WALLSMATERIAL_MODE            object
 89   EMERGENCYSTATE_MODE           object
 90   OBS_30_CNT_SOCIAL_CIRCLE      float16
 91   DEF_30_CNT_SOCIAL_CIRCLE      float16
 92   OBS_60_CNT_SOCIAL_CIRCLE      float16
 93   DEF_60_CNT_SOCIAL_CIRCLE      float16
 94   DAYS_LAST_PHONE_CHANGE        float16
 95   FLAG_DOCUMENT_2               int8
 96   FLAG_DOCUMENT_3               int8
 97   FLAG_DOCUMENT_4               int8
 98   FLAG_DOCUMENT_5               int8
 99   FLAG_DOCUMENT_6               int8
 100  FLAG_DOCUMENT_7               int8
 101  FLAG_DOCUMENT_8               int8
 102  FLAG_DOCUMENT_9               int8
 103  FLAG_DOCUMENT_10              int8
 104  FLAG_DOCUMENT_11              int8
 105  FLAG_DOCUMENT_12              int8
 106  FLAG_DOCUMENT_13              int8
 107  FLAG_DOCUMENT_14              int8
 108  FLAG_DOCUMENT_15              int8
 109  FLAG_DOCUMENT_16              int8
 110  FLAG_DOCUMENT_17              int8
 111  FLAG_DOCUMENT_18              int8
 112  FLAG_DOCUMENT_19              int8
 113  FLAG_DOCUMENT_20              int8
 114  FLAG_DOCUMENT_21              int8
 115  AMT_REQ_CREDIT_BUREAU_HOUR    float16
 116  AMT_REQ_CREDIT_BUREAU_DAY     float16
 117  AMT_REQ_CREDIT_BUREAU_WEEK    float16
 118  AMT_REQ_CREDIT_BUREAU_MON     float16
 119  AMT_REQ_CREDIT_BUREAU_QRT     float16
 120  AMT_REQ_CREDIT_BUREAU_YEAR    float16
dtypes: float16(61), float32(4), int16(2), int32(2), int8(36), object(16)
memory usage: 14.6+ MB

In [25]:
test = replace_missing_with_null(test, missing_values)

In [26]:
# Check Null Value
null_analysis = check_null_percentage(test)
print("Total rows in dataset:", len(test))
print("\nNull Value Analysis:")
print(null_analysis)

Total rows in dataset: 48744

Null Value Analysis:
                              Total_Null  Null_Percentage
FONDKAPREMONT_MODE                 33710            69.16
COMMONAREA_MODE                    33495            68.72
COMMONAREA_MEDI                    33495            68.72
COMMONAREA_AVG                     33495            68.72
NONLIVINGAPARTMENTS_AVG            33347            68.41
NONLIVINGAPARTMENTS_MODE           33347            68.41
NONLIVINGAPARTMENTS_MEDI           33347            68.41
LIVINGAPARTMENTS_MEDI              32780            67.25
LIVINGAPARTMENTS_AVG               32780            67.25
LIVINGAPARTMENTS_MODE              32780            67.25
FLOORSMIN_MODE                     32466            66.61
FLOORSMIN_AVG                      32466            66.61
FLOORSMIN_MEDI                     32466            66.61
OWN_CAR_AGE                        32312            66.29
YEARS_BUILD_AVG                    31818            65.28
YEARS_BUILD_MODE                   31818            65.28
YEARS_BUILD_MEDI                   31818            65.28
LANDAREA_MEDI                      28254            57.96
LANDAREA_AVG                       28254            57.96
LANDAREA_MODE                      28254            57.96
BASEMENTAREA_MODE                  27641            56.71
BASEMENTAREA_AVG                   27641            56.71
BASEMENTAREA_MEDI                  27641            56.71
NONLIVINGAREA_MODE                 26084            53.51
NONLIVINGAREA_AVG                  26084            53.51
NONLIVINGAREA_MEDI                 26084            53.51
ELEVATORS_AVG                      25189            51.68
ELEVATORS_MEDI                     25189            51.68
ELEVATORS_MODE                     25189            51.68
WALLSMATERIAL_MODE                 23893            49.02
APARTMENTS_AVG                     23887            49.01
APARTMENTS_MEDI                    23887            49.01
APARTMENTS_MODE                    23887            49.01
HOUSETYPE_MODE                     23619            48.46
ENTRANCES_MODE                     23579            48.37
ENTRANCES_AVG                      23579            48.37
ENTRANCES_MEDI                     23579            48.37
LIVINGAREA_MEDI                    23552            48.32
LIVINGAREA_MODE                    23552            48.32
LIVINGAREA_AVG                     23552            48.32
FLOORSMAX_MODE                     23321            47.84
FLOORSMAX_AVG                      23321            47.84
FLOORSMAX_MEDI                     23321            47.84
YEARS_BEGINEXPLUATATION_MODE       22856            46.89
YEARS_BEGINEXPLUATATION_MEDI       22856            46.89
YEARS_BEGINEXPLUATATION_AVG        22856            46.89
TOTALAREA_MODE                     22624            46.41
EMERGENCYSTATE_MODE                22209            45.56
EXT_SOURCE_1                       20532            42.12
OCCUPATION_TYPE                    15605            32.01
ORGANIZATION_TYPE                   9274            19.03
EXT_SOURCE_3                        8668            17.78
AMT_REQ_CREDIT_BUREAU_WEEK          6049            12.41
AMT_REQ_CREDIT_BUREAU_HOUR          6049            12.41
AMT_REQ_CREDIT_BUREAU_DAY           6049            12.41
AMT_REQ_CREDIT_BUREAU_YEAR          6049            12.41
AMT_REQ_CREDIT_BUREAU_QRT           6049            12.41
AMT_REQ_CREDIT_BUREAU_MON           6049            12.41
NAME_TYPE_SUITE                      911             1.87
DEF_60_CNT_SOCIAL_CIRCLE              29             0.06
OBS_30_CNT_SOCIAL_CIRCLE              29             0.06
DEF_30_CNT_SOCIAL_CIRCLE              29             0.06
OBS_60_CNT_SOCIAL_CIRCLE              29             0.06
AMT_ANNUITY                           24             0.05
EXT_SOURCE_2                           8             0.02

In [27]:
test = test.drop(columns=['APARTMENTS_MEDI', 'BASEMENTAREA_MEDI', 'COMMONAREA_MEDI', 'ELEVATORS_MEDI', 'ENTRANCES_MEDI', 'WALLSMATERIAL_MODE', 'HOUSETYPE_MODE',
                                        'FLOORSMAX_MEDI', 'FLOORSMIN_MEDI', 'LANDAREA_MEDI', 'LIVINGAPARTMENTS_MEDI', 'LIVINGAREA_MEDI', 'EMERGENCYSTATE_MODE',
                                        'NONLIVINGAPARTMENTS_MEDI', 'NONLIVINGAREA_MEDI','YEARS_BEGINEXPLUATATION_MEDI', 'YEARS_BUILD_MEDI', 'FONDKAPREMONT_MODE',
                                        'APARTMENTS_MODE', 'BASEMENTAREA_MODE', 'COMMONAREA_MODE','ELEVATORS_MODE', 'ENTRANCES_MODE', 
                                        'FLOORSMAX_MODE', 'FLOORSMIN_MODE', 'LANDAREA_MODE', 'LIVINGAPARTMENTS_MODE', 'LIVINGAREA_MODE', 
                                        'NONLIVINGAPARTMENTS_MODE', 'NONLIVINGAREA_MODE', 'TOTALAREA_MODE', 'YEARS_BEGINEXPLUATATION_MODE', 'YEARS_BUILD_MODE'], axis = 1)

In [28]:
handling_na(test)

In [29]:
# Check Duplicated Data
test.duplicated().sum()

np.int64(0)

In [30]:
# Feature Encoding
feature_encode(test)

In [31]:
# Feature Engineering

application_FE(test)

In [32]:
test_clean = test.copy()

In [33]:
column_obj = test_clean.select_dtypes('object').columns
test_clean = test_clean.drop(columns=column_obj)

In [34]:
print('Train dimension:', train_clean.shape)
print('Test dimension:', test_clean.shape)

Train dimension: (307511, 89)
Test dimension: (48744, 88)

# 2. Preprocessing Bureau Data

## 2.1 Bureau Balance

In [35]:
reduce_memory_usage(bureau_bal)
bureau_bal.info()

Memory usage of dataframe is 624.85 MB
Memory usage after optimization is: 338.46 MB
Decreased by 45.8%
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27299925 entries, 0 to 27299924
Data columns (total 3 columns):
 #   Column          Dtype
---  ------          -----
 0   SK_ID_BUREAU    int32
 1   MONTHS_BALANCE  int8
 2   STATUS          object
dtypes: int32(1), int8(1), object(1)
memory usage: 338.5+ MB

In [36]:
# Aggregat Data
average_status = bureau_bal.groupby(['SK_ID_BUREAU','STATUS'])['MONTHS_BALANCE'].mean().reset_index()

In [37]:
# Check Null Value
null_analysis = check_null_percentage(average_status)
print("Total rows in dataset:", len(average_status))
print("\nNull Value Analysis:")
print(null_analysis)

Total rows in dataset: 1714229

Null Value Analysis:
Empty DataFrame
Columns: [Total_Null, Null_Percentage]
Index: []

In [38]:
print('Jumlah data duplikat pada Bureau Balance: ', average_status.duplicated().sum())

Jumlah data duplikat pada Bureau Balance:  0

## 2.2 Bureau

In [39]:
reduce_memory_usage(bureau)
bureau.info()

Memory usage of dataframe is 222.62 MB
Memory usage after optimization is: 112.95 MB
Decreased by 49.3%
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1716428 entries, 0 to 1716427
Data columns (total 17 columns):
 #   Column                  Dtype
---  ------                  -----
 0   SK_ID_CURR              int32
 1   SK_ID_BUREAU            int32
 2   CREDIT_ACTIVE           object
 3   CREDIT_CURRENCY         object
 4   DAYS_CREDIT             int16
 5   CREDIT_DAY_OVERDUE      int16
 6   DAYS_CREDIT_ENDDATE     float16
 7   DAYS_ENDDATE_FACT       float16
 8   AMT_CREDIT_MAX_OVERDUE  float32
 9   CNT_CREDIT_PROLONG      int8
 10  AMT_CREDIT_SUM          float32
 11  AMT_CREDIT_SUM_DEBT     float32
 12  AMT_CREDIT_SUM_LIMIT    float32
 13  AMT_CREDIT_SUM_OVERDUE  float32
 14  CREDIT_TYPE             object
 15  DAYS_CREDIT_UPDATE      int32
 16  AMT_ANNUITY             float32
dtypes: float16(2), float32(6), int16(2), int32(3), int8(1), object(3)
memory usage: 112.9+ MB

In [40]:
bureau['SK_ID_BUREAU'].nunique() # Primary Key

1716428

In [41]:
# Menggabungkan bureau dan bureau balance
bureau_merge = pd.merge(bureau, average_status, on='SK_ID_BUREAU', how='left')
print('bureau_merge dimension:', bureau_merge.shape)
bureau_merge.sample()

bureau_merge dimension: (2573172, 19)

,SK_ID_CURR,SK_ID_BUREAU,CREDIT_ACTIVE,CREDIT_CURRENCY,DAYS_CREDIT,CREDIT_DAY_OVERDUE,DAYS_CREDIT_ENDDATE,DAYS_ENDDATE_FACT,AMT_CREDIT_MAX_OVERDUE,CNT_CREDIT_PROLONG,AMT_CREDIT_SUM,AMT_CREDIT_SUM_DEBT,AMT_CREDIT_SUM_LIMIT,AMT_CREDIT_SUM_OVERDUE,CREDIT_TYPE,DAYS_CREDIT_UPDATE,AMT_ANNUITY,STATUS,MONTHS_BALANCE
627662,261731,6131921,Active,currency 1,-325,0,1501.0,NaN,NaN,0,900000.0,NaN,NaN,0.0,Consumer credit,-15,2867.715088,X,-8.0

In [42]:
bureau_merge = replace_missing_with_null(bureau_merge, missing_values)

In [43]:
# Check Null Value
null_analysis = check_null_percentage(bureau_merge)
print("Total rows in dataset:", len(bureau_merge))
print("\nNull Value Analysis:")
print(null_analysis)

Total rows in dataset: 2573172

Null Value Analysis:
                        Total_Null  Null_Percentage
AMT_CREDIT_MAX_OVERDUE     1724222            67.01
AMT_ANNUITY                1502714            58.40
STATUS                      942074            36.61
MONTHS_BALANCE              942074            36.61
AMT_CREDIT_SUM_LIMIT        915397            35.57
DAYS_ENDDATE_FACT           879273            34.17
AMT_CREDIT_SUM_DEBT         400264            15.56
DAYS_CREDIT_ENDDATE         156975             6.10
AMT_CREDIT_SUM                  13             0.00

Feature - feature yang memiliki null value di atas 40% terlihat cukup penting sehingga saya akan mengubah null value tersebut menjadi 0 dan untuk feature STATUS akan di drop baris.

In [44]:
def handling_na_bureau(data):
    # Mengisi nilai null menjadi 0
    columns_fill_zero = ['AMT_CREDIT_MAX_OVERDUE', 'AMT_ANNUITY']
    
    data[columns_fill_zero] = data[columns_fill_zero].fillna(0)

    # Mengisi nilai null menjadi median
    columns_fill_median = ['AMT_CREDIT_SUM_LIMIT', 'DAYS_ENDDATE_FACT', 'AMT_CREDIT_SUM_DEBT', 'DAYS_CREDIT_ENDDATE', 'AMT_CREDIT_SUM', 'MONTHS_BALANCE']
    
    data[columns_fill_median] = data[columns_fill_median].fillna(data[columns_fill_median].median())

    # Mengisi nilai null menjadi unkown
    columns_fill_unknown = ['STATUS']

    data['STATUS'] = data['STATUS'].fillna('unkown')

In [45]:
handling_na_bureau(bureau_merge)

In [46]:
print('Jumlah data duplikat pada Bureau_merge: ', bureau_merge.duplicated().sum())

Jumlah data duplikat pada Bureau_merge:  0

In [47]:
bureau_merge.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2573172 entries, 0 to 2573171
Data columns (total 19 columns):
 #   Column                  Dtype
---  ------                  -----
 0   SK_ID_CURR              int32
 1   SK_ID_BUREAU            int32
 2   CREDIT_ACTIVE           object
 3   CREDIT_CURRENCY         object
 4   DAYS_CREDIT             int16
 5   CREDIT_DAY_OVERDUE      int16
 6   DAYS_CREDIT_ENDDATE     float16
 7   DAYS_ENDDATE_FACT       float16
 8   AMT_CREDIT_MAX_OVERDUE  float32
 9   CNT_CREDIT_PROLONG      int8
 10  AMT_CREDIT_SUM          float32
 11  AMT_CREDIT_SUM_DEBT     float32
 12  AMT_CREDIT_SUM_LIMIT    float32
 13  AMT_CREDIT_SUM_OVERDUE  float32
 14  CREDIT_TYPE             object
 15  DAYS_CREDIT_UPDATE      int32
 16  AMT_ANNUITY             float32
 17  STATUS                  object
 18  MONTHS_BALANCE          float64
dtypes: float16(2), float32(6), float64(1), int16(2), int32(3), int8(1), object(4)
memory usage: 208.6+ MB

In [48]:
# Feature Encoding
def bureau_merge_encoding(data):
    bureau_merge['CREDIT_CURRENCY'] = bureau_merge['CREDIT_CURRENCY'].map({'currency 1': 1, 'currency 2': 2, 'currency 3': 3, 'currency 4': 4})

In [49]:
bureau_merge_encoding(bureau_merge)

In [50]:
# Feature Engineering
def bureau_merge_FE(data):

    # Durasi lamanya pinjaman
    data['DAYS_DURATION_CREDIT'] = data['DAYS_ENDDATE_FACT'] - data['DAYS_CREDIT']

In [51]:
bureau_merge_FE(bureau_merge)

In [52]:
column_obj = bureau_merge.select_dtypes('object').columns
bureau_merge = bureau_merge.drop(columns=column_obj)

In [53]:
def aggregate_bureau(df, group_by='SK_ID_CURR'):
    
    agg_bureau = df.groupby(group_by).agg({
        # Jumlah kredit
        'SK_ID_BUREAU': 'count',  # Jumlah kredit yang dimiliki
        
        # Agregasi waktu kredit
        'DAYS_CREDIT': ['min', 'max', 'mean'],  # Rentang dan rata-rata usia kredit
        'DAYS_CREDIT_ENDDATE': ['min', 'max', 'mean'],  # Rentang dan rata-rata tanggal berakhir
        'DAYS_ENDDATE_FACT': ['min', 'max', 'mean'],  # Rentang dan rata-rata tanggal aktual berakhir
        'DAYS_CREDIT_UPDATE': ['min', 'max', 'mean'],  # Rentang dan rata-rata update terakhir
        'DAYS_DURATION_CREDIT': ['min', 'max', 'mean'], # Rentang dan rata-rata lama pinjaman terjadi
        # Agregasi jumlah hari overdue
        'CREDIT_DAY_OVERDUE': ['max', 'mean', 'sum'],  # Maksimum, rata-rata, dan total hari keterlambatan
        
        # Agregasi nilai kredit
        'AMT_CREDIT_MAX_OVERDUE': ['max', 'mean'],  # Maksimum dan rata-rata nilai overdue
        'AMT_CREDIT_SUM': ['max', 'mean', 'sum'],  # Statistik total kredit
        'AMT_CREDIT_SUM_DEBT': ['max', 'mean', 'sum'],  # Statistik total hutang
        'AMT_CREDIT_SUM_LIMIT': ['max', 'mean', 'sum'],  # Statistik limit kredit
        'AMT_CREDIT_SUM_OVERDUE': ['max', 'mean', 'sum'],  # Statistik total overdue
        'AMT_ANNUITY': ['max', 'mean', 'sum'],  # Statistik annuity
        
        # Agregasi lainnya
        'CNT_CREDIT_PROLONG': ['max', 'sum'],  # Maksimum dan total perpanjangan kredit
        'MONTHS_BALANCE': ['min', 'max', 'mean']  # Statistik balance bulanan
    })
    
    # Flatten kolom multiindex
    agg_bureau.columns = ['BUR_' + '_'.join(col).upper() for col in agg_bureau.columns]
    
    return agg_bureau

In [54]:
bureau_merge = aggregate_bureau(bureau_merge, group_by='SK_ID_CURR')

In [55]:
#bureau_merge.columns = ['BUR_' + ''.join(col).upper() for col in bureau_merge.columns]

In [56]:
bureau_merge.head()

,BUR_SK_ID_BUREAU_COUNT,BUR_DAYS_CREDIT_MIN,BUR_DAYS_CREDIT_MAX,BUR_DAYS_CREDIT_MEAN,BUR_DAYS_CREDIT_ENDDATE_MIN,BUR_DAYS_CREDIT_ENDDATE_MAX,BUR_DAYS_CREDIT_ENDDATE_MEAN,BUR_DAYS_ENDDATE_FACT_MIN,BUR_DAYS_ENDDATE_FACT_MAX,BUR_DAYS_ENDDATE_FACT_MEAN,BUR_DAYS_CREDIT_UPDATE_MIN,BUR_DAYS_CREDIT_UPDATE_MAX,BUR_DAYS_CREDIT_UPDATE_MEAN,BUR_DAYS_DURATION_CREDIT_MIN,BUR_DAYS_DURATION_CREDIT_MAX,BUR_DAYS_DURATION_CREDIT_MEAN,BUR_CREDIT_DAY_OVERDUE_MAX,BUR_CREDIT_DAY_OVERDUE_MEAN,BUR_CREDIT_DAY_OVERDUE_SUM,BUR_AMT_CREDIT_MAX_OVERDUE_MAX,BUR_AMT_CREDIT_MAX_OVERDUE_MEAN,BUR_AMT_CREDIT_SUM_MAX,BUR_AMT_CREDIT_SUM_MEAN,BUR_AMT_CREDIT_SUM_SUM,BUR_AMT_CREDIT_SUM_DEBT_MAX,BUR_AMT_CREDIT_SUM_DEBT_MEAN,BUR_AMT_CREDIT_SUM_DEBT_SUM,BUR_AMT_CREDIT_SUM_LIMIT_MAX,BUR_AMT_CREDIT_SUM_LIMIT_MEAN,BUR_AMT_CREDIT_SUM_LIMIT_SUM,BUR_AMT_CREDIT_SUM_OVERDUE_MAX,BUR_AMT_CREDIT_SUM_OVERDUE_MEAN,BUR_AMT_CREDIT_SUM_OVERDUE_SUM,BUR_AMT_ANNUITY_MAX,BUR_AMT_ANNUITY_MEAN,BUR_AMT_ANNUITY_SUM,BUR_CNT_CREDIT_PROLONG_MAX,BUR_CNT_CREDIT_PROLONG_SUM,BUR_MONTHS_BALANCE_MIN,BUR_MONTHS_BALANCE_MAX,BUR_MONTHS_BALANCE_MEAN
SK_ID_CURR,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
100001,17,-1572,-49,-813.941176,-1329.0,1778.0,-40.588234,-1328.0,-544.0,-851.588257,-155,-6,-103.823529,-859.0,335.0,-37.647060,0,0.0,0,0.00000,0.000000,378000.000000,197981.468750,3.365685e+06,373239.0,70368.085938,1196257.5,0.000000,0.000000,0.000000,0.0,0.0,0.0,10822.5,2641.235352,44901.0,0,0,-47.714286,0.0,-17.248599
100002,26,-1437,-103,-981.538462,-1072.0,780.0,-388.384613,-1185.0,-36.0,-846.923096,-1185,-7,-607.153846,-805.0,609.0,134.615387,0,0.0,0,5043.64502,902.011108,450000.000000,121337.500000,3.154775e+06,245781.0,37812.460938,983124.0,31988.564453,2460.658691,63977.128906,0.0,0.0,0.0,0.0,0.000000,0.0,0,0,-44.000000,-0.5,-24.455128
100003,4,-2586,-606,-1400.750000,-2434.0,1216.0,-544.500000,-2132.0,-540.0,-1050.250000,-2131,-43,-816.000000,-302.0,1096.0,350.500000,0,0.0,0,0.00000,0.000000,810000.000000,254350.125000,1.017400e+06,0.0,0.000000,0.0,810000.000000,202500.000000,810000.000000,0.0,0.0,0.0,0.0,0.000000,0.0,0,0,-20.000000,-20.0,-20.000000
100004,2,-1326,-408,-867.000000,-595.0,-382.0,-488.500000,-683.0,-382.0,-532.500000,-682,-382,-532.000000,26.0,643.0,334.500000,0,0.0,0,0.00000,0.000000,94537.796875,94518.898438,1.890378e+05,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,0,0,-20.000000,-20.0,-20.000000
100005,6,-373,-62,-230.000000,-128.0,1324.0,197.333328,-908.0,-123.0,-515.500000,-121,-11,-72.666667,-846.0,250.0,-285.500000,0,0.0,0,0.00000,0.000000,568800.000000,133992.000000,8.039520e+05,543087.0,98955.000000,593730.0,0.000000,0.000000,0.000000,0.0,0.0,0.0,4261.5,1420.500000,8523.0,0,0,-12.000000,0.0,-4.250000

In [57]:
bureau_clean = bureau_merge.copy()

In [58]:
print('Train dimension:', train_clean.shape)
print('Test dimension:', test_clean.shape)
print('Bureau & Bureau Balance dimension:', bureau_clean.shape)

Train dimension: (307511, 89)
Test dimension: (48744, 88)
Bureau & Bureau Balance dimension: (305811, 41)

# 3. Previous Loan Data

## 3.1 Installment

Dataset installment memberikan detail tentang waktu dan jumlah angsuran sebelumnya sehingga berguna untuk memahami perilaku pembayaran klien di masa lampau yang dapat menjadi prediktor kuat untuk kinerja pembayaran pinjaman di masa yang akan datang.

In [59]:
reduce_memory_usage(installment)
installment.info()

Memory usage of dataframe is 830.41 MB
Memory usage after optimization is: 311.40 MB
Decreased by 62.5%
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13605401 entries, 0 to 13605400
Data columns (total 8 columns):
 #   Column                  Dtype
---  ------                  -----
 0   SK_ID_PREV              int32
 1   SK_ID_CURR              int32
 2   NUM_INSTALMENT_VERSION  float16
 3   NUM_INSTALMENT_NUMBER   int16
 4   DAYS_INSTALMENT         float16
 5   DAYS_ENTRY_PAYMENT      float16
 6   AMT_INSTALMENT          float32
 7   AMT_PAYMENT             float32
dtypes: float16(3), float32(2), int16(1), int32(2)
memory usage: 311.4 MB

In [60]:
installment = replace_missing_with_null(installment, missing_values)

In [61]:
# Check Null Value
null_analysis = check_null_percentage(installment)
print("Total rows in dataset:", len(installment))
print("\nNull Value Analysis:")
print(null_analysis)

Total rows in dataset: 13605401

Null Value Analysis:
                    Total_Null  Null_Percentage
AMT_PAYMENT               2905             0.02
DAYS_ENTRY_PAYMENT        2905             0.02

Karena Null percentage dibawah 5%, saya memutuskan mengubah null value menjadi median.

In [62]:
def handling_na_installment(data):
    # Membuang nilai null
    columns_fill_median = ['AMT_PAYMENT', 'DAYS_ENTRY_PAYMENT']
    data[columns_fill_median] = data[columns_fill_median].fillna(data[columns_fill_median].median())

In [63]:
handling_na_installment(installment)

In [64]:
installment.drop_duplicates(inplace=True)
print('Jumlah data duplikat: ',installment.duplicated().sum())

Jumlah data duplikat:  0

In [65]:
installment.info()

<class 'pandas.core.frame.DataFrame'>
Index: 13605386 entries, 0 to 13605400
Data columns (total 8 columns):
 #   Column                  Dtype
---  ------                  -----
 0   SK_ID_PREV              int32
 1   SK_ID_CURR              int32
 2   NUM_INSTALMENT_VERSION  float16
 3   NUM_INSTALMENT_NUMBER   int16
 4   DAYS_INSTALMENT         float16
 5   DAYS_ENTRY_PAYMENT      float16
 6   AMT_INSTALMENT          float32
 7   AMT_PAYMENT             float32
dtypes: float16(3), float32(2), int16(1), int32(2)
memory usage: 415.2 MB

In [66]:
# Feature Engineering
def installment_FE(data):
    # Melihat keterlambatan pembayaran
    data['DAYS_LATE'] = data['DAYS_ENTRY_PAYMENT'] - data['DAYS_INSTALMENT'] # Nilai positif menunjukan keterlambatan pembayaran

    # Ratio pembayaran yang diharapkan vs aktual
    data['PAYMENT_RATIO'] = data['AMT_PAYMENT']/data['AMT_INSTALMENT'] # Nilai kurang dari satu menunjukan pembayaran yang kurang

    # Melihat Pembayaran yang Kurang
    data['PAYMENT_DIFF'] = data['AMT_INSTALMENT'] - data['AMT_PAYMENT'] # Jika hasilnya positif menunjukan bahwa ada pembayaran yang kurang

    # Pembagian waktu
    data['MONTH_INSTALMENT'] = round(data['DAYS_INSTALMENT'] / 12)
    data['MONTH_ENTRY_PAYMENT'] = round(data['DAYS_ENTRY_PAYMENT'] / 12)
    data['YEAR_INSTALLMENT'] = round(data['DAYS_INSTALMENT'] / 365)
    data['YEAR_ENTRY_PAYMENT'] = round(data['DAYS_ENTRY_PAYMENT'] / 365)

    # Flag
    data['FLAG_LATE_PAYMENT'] = (data['DAYS_LATE'] > 0).astype(int) # Jika days_late atau month_installment lebih kecil dibandingkan month_entry_payment menunjukan bahwa pembayaran aktual telat dari yang seharusnya (installment)
    data['FLAG_UNDERPAYMENT'] = (data['PAYMENT_RATIO'] > 1).astype(int)

In [67]:
installment_FE(installment)

In [68]:
column_obj = installment.select_dtypes('object').columns
installment = installment.drop(columns=column_obj)

In [69]:
def aggregate_installment(df, group_by='SK_ID_CURR'):
    agg_installment = df.groupby(group_by).agg({
        'NUM_INSTALMENT_VERSION': ['nunique', 'mean'],  # Versi cicilan
        'NUM_INSTALMENT_NUMBER': ['min', 'max', 'mean', 'sum'],  # Nomor cicilan
        
        # Agregasi keterlambatan
        'DAYS_LATE': ['mean', 'max', 'sum', 'count'],  # Rata-rata keterlambatan, keterlambatan maksimal, total keterlambatan
        'FLAG_LATE_PAYMENT': ['mean', 'sum'],  # % keterlambatan, jumlah keterlambatan
        
        # Agregasi pembayaran
        'PAYMENT_RATIO': ['mean', 'min'],  # Rata-rata ratio pembayaran, ratio pembayaran terendah
        'PAYMENT_DIFF': ['mean', 'max', 'sum'],  # Rata-rata selisih pembayaran, selisih terbesar, total selisih
        'FLAG_UNDERPAYMENT': ['mean', 'sum'],  # % underpayment, jumlah underpayment
        
        # Agregasi nilai installment dan payment
        'AMT_INSTALMENT': ['mean', 'max', 'sum'],  # Rata-rata installment, installment terbesar, total installment
        'AMT_PAYMENT': ['mean', 'max', 'sum'],  # Rata-rata pembayaran, pembayaran terbesar, total pembayaran
        
        # Agregasi waktu
        'MONTH_INSTALMENT': ['min', 'max'],  # Bulan pertama dan terakhir installment
        'MONTH_ENTRY_PAYMENT': ['min', 'max'],  # Bulan pertama dan terakhir pembayaran
        'YEAR_INSTALLMENT': ['min', 'max'],  # Tahun pertama dan terakhir installment
        'YEAR_ENTRY_PAYMENT': ['min', 'max']  # Tahun pertama dan terakhir pembayaran
    })
    
    # Flatten kolom multiindex
    agg_installment.columns = ['INST_' + '_'.join(col).upper() for col in agg_installment.columns]
    
    return agg_installment

In [70]:
installment = aggregate_installment(installment, group_by='SK_ID_CURR')

In [71]:
# installment.columns = ['INST_' + ''.join(col).upper() for col in installment.columns]

In [72]:
installment.head()

,INST_NUM_INSTALMENT_VERSION_NUNIQUE,INST_NUM_INSTALMENT_VERSION_MEAN,INST_NUM_INSTALMENT_NUMBER_MIN,INST_NUM_INSTALMENT_NUMBER_MAX,INST_NUM_INSTALMENT_NUMBER_MEAN,INST_NUM_INSTALMENT_NUMBER_SUM,INST_DAYS_LATE_MEAN,INST_DAYS_LATE_MAX,INST_DAYS_LATE_SUM,INST_DAYS_LATE_COUNT,INST_FLAG_LATE_PAYMENT_MEAN,INST_FLAG_LATE_PAYMENT_SUM,INST_PAYMENT_RATIO_MEAN,INST_PAYMENT_RATIO_MIN,INST_PAYMENT_DIFF_MEAN,INST_PAYMENT_DIFF_MAX,INST_PAYMENT_DIFF_SUM,INST_FLAG_UNDERPAYMENT_MEAN,INST_FLAG_UNDERPAYMENT_SUM,INST_AMT_INSTALMENT_MEAN,INST_AMT_INSTALMENT_MAX,INST_AMT_INSTALMENT_SUM,INST_AMT_PAYMENT_MEAN,INST_AMT_PAYMENT_MAX,INST_AMT_PAYMENT_SUM,INST_MONTH_INSTALMENT_MIN,INST_MONTH_INSTALMENT_MAX,INST_MONTH_ENTRY_PAYMENT_MIN,INST_MONTH_ENTRY_PAYMENT_MAX,INST_YEAR_INSTALLMENT_MIN,INST_YEAR_INSTALLMENT_MAX,INST_YEAR_ENTRY_PAYMENT_MIN,INST_YEAR_ENTRY_PAYMENT_MAX
SK_ID_CURR,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
100001,2,1.142857,1,4,2.714286,19,-7.428571,10.0,-52.0,7,0.142857,1,1.0,1.0,0.0,0.0,0.0,0.0,0,5885.132324,17397.900391,4.119593e+04,5885.132324,17397.900391,4.119593e+04,-243.0,-135.0,-243.0,-136.0,-8.0,-4.0,-8.0,-4.0
100002,2,1.052632,1,19,10.000000,190,-20.421053,-12.0,-388.0,19,0.000000,0,1.0,1.0,0.0,0.0,0.0,0.0,0,11559.247070,53093.746094,2.196257e+05,11559.247070,53093.746094,2.196257e+05,-47.0,-2.0,-49.0,-4.0,-2.0,-0.0,-2.0,-0.0
100003,2,1.040000,1,12,5.080000,127,-7.200000,-2.0,-180.0,25,0.000000,0,1.0,1.0,0.0,0.0,0.0,0.0,0,64754.585938,560835.375000,1.618865e+06,64754.585938,560835.375000,1.618865e+06,-192.0,-45.0,-194.0,-45.0,-6.0,-1.0,-6.0,-1.0
100004,2,1.333333,1,3,2.000000,6,-7.666667,-3.0,-23.0,3,0.000000,0,1.0,1.0,0.0,0.0,0.0,0.0,0,7096.154785,10573.964844,2.128846e+04,7096.154785,10573.964844,2.128846e+04,-65.0,-60.0,-66.0,-61.0,-2.0,-2.0,-2.0,-2.0
100005,2,1.111111,1,9,5.000000,45,-23.555555,1.0,-212.0,9,0.111111,1,1.0,1.0,0.0,0.0,0.0,0.0,0,6240.205078,17656.244141,5.616184e+04,6240.205078,17656.244141,5.616184e+04,-59.0,-39.0,-61.0,-39.0,-2.0,-1.0,-2.0,-1.0

In [73]:
installment_clean = installment.copy()

In [74]:
print('Train dimension:', train_clean.shape)
print('Test dimension:', test_clean.shape)
print('Bureau & Bureau Balance dimension:', bureau_clean.shape)
print('Instalment dimension: ', installment_clean.shape)

Train dimension: (307511, 89)
Test dimension: (48744, 88)
Bureau & Bureau Balance dimension: (305811, 41)
Instalment dimension:  (339587, 33)

## 3.2 Credit Card Balance

In [75]:
reduce_memory_usage(ccb)
ccb.info()

Memory usage of dataframe is 673.88 MB
Memory usage after optimization is: 289.33 MB
Decreased by 57.1%
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3840312 entries, 0 to 3840311
Data columns (total 23 columns):
 #   Column                      Dtype
---  ------                      -----
 0   SK_ID_PREV                  int32
 1   SK_ID_CURR                  int32
 2   MONTHS_BALANCE              int8
 3   AMT_BALANCE                 float32
 4   AMT_CREDIT_LIMIT_ACTUAL     int32
 5   AMT_DRAWINGS_ATM_CURRENT    float32
 6   AMT_DRAWINGS_CURRENT        float32
 7   AMT_DRAWINGS_OTHER_CURRENT  float32
 8   AMT_DRAWINGS_POS_CURRENT    float32
 9   AMT_INST_MIN_REGULARITY     float32
 10  AMT_PAYMENT_CURRENT         float32
 11  AMT_PAYMENT_TOTAL_CURRENT   float32
 12  AMT_RECEIVABLE_PRINCIPAL    float32
 13  AMT_RECIVABLE               float32
 14  AMT_TOTAL_RECEIVABLE        float32
 15  CNT_DRAWINGS_ATM_CURRENT    float16
 16  CNT_DRAWINGS_CURRENT        int16
 17  CNT_DRAWINGS_OTHER_CURRENT  float16
 18  CNT_DRAWINGS_POS_CURRENT    float16
 19  CNT_INSTALMENT_MATURE_CUM   float16
 20  NAME_CONTRACT_STATUS        object
 21  SK_DPD                      int16
 22  SK_DPD_DEF                  int16
dtypes: float16(4), float32(11), int16(3), int32(3), int8(1), object(1)
memory usage: 289.3+ MB

In [76]:
ccb = replace_missing_with_null(ccb, missing_values)

In [77]:
# Check Null Value
null_analysis = check_null_percentage(ccb)
print("Total rows in dataset:", len(ccb))
print("\nNull Value Analysis:")
print(null_analysis)

Total rows in dataset: 3840312

Null Value Analysis:
                            Total_Null  Null_Percentage
AMT_PAYMENT_CURRENT             767988            20.00
CNT_DRAWINGS_POS_CURRENT        749816            19.52
AMT_DRAWINGS_ATM_CURRENT        749816            19.52
CNT_DRAWINGS_ATM_CURRENT        749816            19.52
AMT_DRAWINGS_POS_CURRENT        749816            19.52
AMT_DRAWINGS_OTHER_CURRENT      749816            19.52
CNT_DRAWINGS_OTHER_CURRENT      749816            19.52
CNT_INSTALMENT_MATURE_CUM       305236             7.95
AMT_INST_MIN_REGULARITY         305236             7.95

In [78]:
def handling_na_ccb(data):
    # Mengisi nilai null dengan median
    columns_fill_median = ['AMT_PAYMENT_CURRENT', 'CNT_DRAWINGS_POS_CURRENT', 
                            'AMT_DRAWINGS_ATM_CURRENT', 'CNT_DRAWINGS_ATM_CURRENT', 
                            'AMT_DRAWINGS_POS_CURRENT', 'AMT_DRAWINGS_OTHER_CURRENT', 
                            'CNT_DRAWINGS_OTHER_CURRENT', 'CNT_INSTALMENT_MATURE_CUM', 
                            'AMT_INST_MIN_REGULARITY']
    
    data[columns_fill_median] = data[columns_fill_median].fillna(data[columns_fill_median].median())

In [79]:
handling_na_ccb(ccb)

In [80]:
ccb.duplicated().sum()

np.int64(0)

In [81]:
# Feature Engineering
def credit_card_balance_FE(data):
    
    # Ratio limit kredit terpakai
    data['LIMIT_RATIO'] = data['AMT_BALANCE'] / data['AMT_CREDIT_LIMIT_ACTUAL']

    # Total Penarikan dari Semua Channel
    data['TOTAL_DRAWINGS'] = (data['AMT_DRAWINGS_ATM_CURRENT'] + 
                              data['AMT_DRAWINGS_CURRENT'] +
                              data['AMT_DRAWINGS_OTHER_CURRENT'] +
                              data['AMT_DRAWINGS_POS_CURRENT'])
    
    # Total Frekuensi Penarikan dari Semua Channel
    data['TOTAL_DRAWINGS_COUNT'] = (data['CNT_DRAWINGS_ATM_CURRENT'] +
                                    data['CNT_DRAWINGS_CURRENT'] +
                                    data['CNT_DRAWINGS_OTHER_CURRENT'] +
                                    data['CNT_DRAWINGS_POS_CURRENT'])
    
    # Rata - Rata Jumlah Uang yang ditarik per Penarikan
    data['AVG_DRAWING'] = data['TOTAL_DRAWINGS'] / data['TOTAL_DRAWINGS_COUNT']

    # Percentase Penarikan di setiap Channel
    data['DRAWINGS_ATM_PERCENTAGE'] = data['AMT_DRAWINGS_ATM_CURRENT'] / data['TOTAL_DRAWINGS']
    data['DRAWINGS_POS_PERCENTAGE'] = data['AMT_DRAWINGS_POS_CURRENT'] / data['TOTAL_DRAWINGS']
    data['DRAWINGS_OTHER_PERCENTAGE'] = data['AMT_DRAWINGS_OTHER_CURRENT'] / data['TOTAL_DRAWINGS']

    # Flag Pembayaran yang Telat
    data['FLAG_LATE_PAYMENT'] = (data['NAME_CONTRACT_STATUS'] == 'Late').astype(int)

    # Handling infinite value
    data = data.replace([np.inf, -np.inf], np.nan)

In [82]:
credit_card_balance_FE(ccb)

In [83]:
column_obj = ccb.select_dtypes('object').columns
ccb = ccb.drop(columns=column_obj)

In [84]:
ccb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3840312 entries, 0 to 3840311
Data columns (total 30 columns):
 #   Column                      Dtype
---  ------                      -----
 0   SK_ID_PREV                  int32
 1   SK_ID_CURR                  int32
 2   MONTHS_BALANCE              int8
 3   AMT_BALANCE                 float32
 4   AMT_CREDIT_LIMIT_ACTUAL     int32
 5   AMT_DRAWINGS_ATM_CURRENT    float32
 6   AMT_DRAWINGS_CURRENT        float32
 7   AMT_DRAWINGS_OTHER_CURRENT  float32
 8   AMT_DRAWINGS_POS_CURRENT    float32
 9   AMT_INST_MIN_REGULARITY     float32
 10  AMT_PAYMENT_CURRENT         float32
 11  AMT_PAYMENT_TOTAL_CURRENT   float32
 12  AMT_RECEIVABLE_PRINCIPAL    float32
 13  AMT_RECIVABLE               float32
 14  AMT_TOTAL_RECEIVABLE        float32
 15  CNT_DRAWINGS_ATM_CURRENT    float16
 16  CNT_DRAWINGS_CURRENT        int16
 17  CNT_DRAWINGS_OTHER_CURRENT  float16
 18  CNT_DRAWINGS_POS_CURRENT    float16
 19  CNT_INSTALMENT_MATURE_CUM   float16
 20  SK_DPD                      int16
 21  SK_DPD_DEF                  int16
 22  LIMIT_RATIO                 float64
 23  TOTAL_DRAWINGS              float32
 24  TOTAL_DRAWINGS_COUNT        float32
 25  AVG_DRAWING                 float32
 26  DRAWINGS_ATM_PERCENTAGE     float32
 27  DRAWINGS_POS_PERCENTAGE     float32
 28  DRAWINGS_OTHER_PERCENTAGE   float32
 29  FLAG_LATE_PAYMENT           int64
dtypes: float16(4), float32(17), float64(1), int16(3), int32(3), int64(1), int8(1)
memory usage: 406.5 MB

In [85]:
# Aggregate 
def aggregate_ccb(data):
    agg_ccb = data.groupby('SK_ID_CURR').agg({
        'MONTHS_BALANCE': 'count',                     
        'AMT_BALANCE': ['min', 'max', 'mean', 'sum'], 
        'AMT_CREDIT_LIMIT_ACTUAL': ['min', 'max', 'mean', 'sum'],
        'AMT_DRAWINGS_ATM_CURRENT': ['min', 'max', 'mean', 'sum'],
        'AMT_DRAWINGS_CURRENT': ['min', 'max', 'mean', 'sum'], 
        'AMT_DRAWINGS_OTHER_CURRENT': ['min', 'max', 'mean', 'sum'],   
        'AMT_INST_MIN_REGULARITY': ['min', 'max', 'mean', 'sum'],
        'AMT_PAYMENT_TOTAL_CURRENT': ['min', 'max', 'mean', 'sum'],
        'AMT_RECEIVABLE_PRINCIPAL': ['min', 'max', 'mean', 'sum'],
        'AMT_RECIVABLE': ['min', 'max', 'mean', 'sum'],
        'AMT_TOTAL_RECEIVABLE': ['min', 'max', 'mean', 'sum'],
        'CNT_DRAWINGS_ATM_CURRENT': ['min', 'max', 'mean', 'sum'],    
        'AMT_DRAWINGS_POS_CURRENT': ['min', 'max', 'mean', 'sum'],         
        'AMT_PAYMENT_CURRENT': ['min', 'max', 'mean', 'sum'],
        'CNT_DRAWINGS_OTHER_CURRENT': ['min', 'max', 'mean', 'sum'],             
        'CNT_DRAWINGS_CURRENT': ['min', 'max', 'mean', 'sum'],
        'CNT_DRAWINGS_POS_CURRENT': ['min', 'max', 'mean', 'sum'],
        'CNT_INSTALMENT_MATURE_CUM': ['min', 'max', 'mean', 'sum'],         
        'SK_DPD': ['min', 'max', 'mean', 'sum'],                    
        'SK_DPD_DEF': ['min', 'max', 'mean', 'sum'],
        'TOTAL_DRAWINGS': ['min', 'max', 'mean', 'sum'],
        'TOTAL_DRAWINGS_COUNT': ['min', 'max', 'mean', 'sum'],
        'AVG_DRAWING': ['min', 'max', 'mean', 'sum'],
        'DRAWINGS_ATM_PERCENTAGE': ['min', 'max', 'mean', 'sum'],
        'DRAWINGS_POS_PERCENTAGE': ['min', 'max', 'mean', 'sum'],
        'DRAWINGS_OTHER_PERCENTAGE': ['min', 'max', 'mean', 'sum'],
        'FLAG_LATE_PAYMENT': 'mean',                           
        'LIMIT_RATIO': 'mean',                           
    }).reset_index()

    # Flatten kolom multiindex
    agg_ccb.columns = ['CCB_' + '_'.join(col).upper() for col in agg_ccb.columns]

    return agg_ccb

In [86]:
ccb = aggregate_ccb(ccb)

In [87]:
# ccb.columns = ['CCB_' + ''.join(col).upper() for col in ccb.columns]

In [88]:
ccb.head()

,CCB_SK_ID_CURR_,CCB_MONTHS_BALANCE_COUNT,CCB_AMT_BALANCE_MIN,CCB_AMT_BALANCE_MAX,CCB_AMT_BALANCE_MEAN,CCB_AMT_BALANCE_SUM,CCB_AMT_CREDIT_LIMIT_ACTUAL_MIN,CCB_AMT_CREDIT_LIMIT_ACTUAL_MAX,CCB_AMT_CREDIT_LIMIT_ACTUAL_MEAN,CCB_AMT_CREDIT_LIMIT_ACTUAL_SUM,CCB_AMT_DRAWINGS_ATM_CURRENT_MIN,CCB_AMT_DRAWINGS_ATM_CURRENT_MAX,CCB_AMT_DRAWINGS_ATM_CURRENT_MEAN,CCB_AMT_DRAWINGS_ATM_CURRENT_SUM,CCB_AMT_DRAWINGS_CURRENT_MIN,CCB_AMT_DRAWINGS_CURRENT_MAX,CCB_AMT_DRAWINGS_CURRENT_MEAN,CCB_AMT_DRAWINGS_CURRENT_SUM,CCB_AMT_DRAWINGS_OTHER_CURRENT_MIN,CCB_AMT_DRAWINGS_OTHER_CURRENT_MAX,CCB_AMT_DRAWINGS_OTHER_CURRENT_MEAN,CCB_AMT_DRAWINGS_OTHER_CURRENT_SUM,CCB_AMT_INST_MIN_REGULARITY_MIN,CCB_AMT_INST_MIN_REGULARITY_MAX,CCB_AMT_INST_MIN_REGULARITY_MEAN,CCB_AMT_INST_MIN_REGULARITY_SUM,CCB_AMT_PAYMENT_TOTAL_CURRENT_MIN,CCB_AMT_PAYMENT_TOTAL_CURRENT_MAX,CCB_AMT_PAYMENT_TOTAL_CURRENT_MEAN,CCB_AMT_PAYMENT_TOTAL_CURRENT_SUM,CCB_AMT_RECEIVABLE_PRINCIPAL_MIN,CCB_AMT_RECEIVABLE_PRINCIPAL_MAX,CCB_AMT_RECEIVABLE_PRINCIPAL_MEAN,CCB_AMT_RECEIVABLE_PRINCIPAL_SUM,CCB_AMT_RECIVABLE_MIN,CCB_AMT_RECIVABLE_MAX,CCB_AMT_RECIVABLE_MEAN,CCB_AMT_RECIVABLE_SUM,CCB_AMT_TOTAL_RECEIVABLE_MIN,CCB_AMT_TOTAL_RECEIVABLE_MAX,CCB_AMT_TOTAL_RECEIVABLE_MEAN,CCB_AMT_TOTAL_RECEIVABLE_SUM,CCB_CNT_DRAWINGS_ATM_CURRENT_MIN,CCB_CNT_DRAWINGS_ATM_CURRENT_MAX,CCB_CNT_DRAWINGS_ATM_CURRENT_MEAN,CCB_CNT_DRAWINGS_ATM_CURRENT_SUM,CCB_AMT_DRAWINGS_POS_CURRENT_MIN,CCB_AMT_DRAWINGS_POS_CURRENT_MAX,CCB_AMT_DRAWINGS_POS_CURRENT_MEAN,CCB_AMT_DRAWINGS_POS_CURRENT_SUM,CCB_AMT_PAYMENT_CURRENT_MIN,CCB_AMT_PAYMENT_CURRENT_MAX,CCB_AMT_PAYMENT_CURRENT_MEAN,CCB_AMT_PAYMENT_CURRENT_SUM,CCB_CNT_DRAWINGS_OTHER_CURRENT_MIN,CCB_CNT_DRAWINGS_OTHER_CURRENT_MAX,CCB_CNT_DRAWINGS_OTHER_CURRENT_MEAN,CCB_CNT_DRAWINGS_OTHER_CURRENT_SUM,CCB_CNT_DRAWINGS_CURRENT_MIN,CCB_CNT_DRAWINGS_CURRENT_MAX,CCB_CNT_DRAWINGS_CURRENT_MEAN,CCB_CNT_DRAWINGS_CURRENT_SUM,CCB_CNT_DRAWINGS_POS_CURRENT_MIN,CCB_CNT_DRAWINGS_POS_CURRENT_MAX,CCB_CNT_DRAWINGS_POS_CURRENT_MEAN,CCB_CNT_DRAWINGS_POS_CURRENT_SUM,CCB_CNT_INSTALMENT_MATURE_CUM_MIN,CCB_CNT_INSTALMENT_MATURE_CUM_MAX,CCB_CNT_INSTALMENT_MATURE_CUM_MEAN,CCB_CNT_INSTALMENT_MATURE_CUM_SUM,CCB_SK_DPD_MIN,CCB_SK_DPD_MAX,CCB_SK_DPD_MEAN,CCB_SK_DPD_SUM,CCB_SK_DPD_DEF_MIN,CCB_SK_DPD_DEF_MAX,CCB_SK_DPD_DEF_MEAN,CCB_SK_DPD_DEF_SUM,CCB_TOTAL_DRAWINGS_MIN,CCB_TOTAL_DRAWINGS_MAX,CCB_TOTAL_DRAWINGS_MEAN,CCB_TOTAL_DRAWINGS_SUM,CCB_TOTAL_DRAWINGS_COUNT_MIN,CCB_TOTAL_DRAWINGS_COUNT_MAX,CCB_TOTAL_DRAWINGS_COUNT_MEAN,CCB_TOTAL_DRAWINGS_COUNT_SUM,CCB_AVG_DRAWING_MIN,CCB_AVG_DRAWING_MAX,CCB_AVG_DRAWING_MEAN,CCB_AVG_DRAWING_SUM,CCB_DRAWINGS_ATM_PERCENTAGE_MIN,CCB_DRAWINGS_ATM_PERCENTAGE_MAX,CCB_DRAWINGS_ATM_PERCENTAGE_MEAN,CCB_DRAWINGS_ATM_PERCENTAGE_SUM,CCB_DRAWINGS_POS_PERCENTAGE_MIN,CCB_DRAWINGS_POS_PERCENTAGE_MAX,CCB_DRAWINGS_POS_PERCENTAGE_MEAN,CCB_DRAWINGS_POS_PERCENTAGE_SUM,CCB_DRAWINGS_OTHER_PERCENTAGE_MIN,CCB_DRAWINGS_OTHER_PERCENTAGE_MAX,CCB_DRAWINGS_OTHER_PERCENTAGE_MEAN,CCB_DRAWINGS_OTHER_PERCENTAGE_SUM,CCB_FLAG_LATE_PAYMENT_MEAN,CCB_LIMIT_RATIO_MEAN
0,100006,6,0.0,0.00000,0.000000,0.00,270000,270000,270000.000000,1620000,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.0000,0.0,0.0,0.000000,0.00,0.000000,0.00000,0.000000,0.000,0.000000,0.00000,0.000000,0.000,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,2702.699951,2702.699951,2702.699951,16216.199219,0.0,0.0,0.0,0.0,0,0,0.000000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0,0,0.000000,0,0,0,0.000000,0,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0,0.0,0.000000
1,100011,74,0.0,189000.00000,54482.113281,4031676.25,90000,180000,164189.189189,12150000,0.0,180000.0,2432.432373,180000.0,0.0,180000.0,2432.432373,180000.0,0.0,0.0,0.0,0.0,0.0,9000.0,3902.759277,288804.187500,0.0,55485.0,4520.067383,334485.0000,0.0,180000.0,52402.085938,3877754.50,-563.354980,189000.00000,54433.179688,4028055.250,-563.354980,189000.00000,54433.179688,4028055.250,0.0,4.0,0.054054,4.0,0.0,0.0,0.0,0.0,0.000000,55485.000000,4843.063965,358386.750000,0.0,0.0,0.0,0.0,0,4,0.054054,4,0.0,0.0,0.0,0.0,1.0,33.0,25.621622,1896.0,0,0,0.000000,0,0,0,0.000000,0,0.0,360000.0,4864.864746,360000.0,0.0,8.0,0.108108,8.0,45000.000000,45000.0,45000.000000,45000.000000,0.5,0.5,0.5,0.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.302678
2,100013,96,0.0,161420.21875,18159.919922,1743352.25,45000,157500,131718.750000,12645000,0.0,157500.0,5953.125000,571500.0,0.0,157500.0,5953.125000,571500.0,0.0,0.0,0.0,0.0,0.0,7875.0,1348.479370,129454.023438,0.0,153675.0,6817.172363,654448.5625,0.0,157500.0,17255.560547,1656533.75,-274.320007,161420.21875,18101.080078,1737703.625,-274.320007,161420.21875,18101.080078,1737703.625,0.0,7.0,0.239583,23.0,0.0,0.0,0.0,0.0,0.000000,153675.000000,7168.346191,688161.250000,0.0,0.0,0.0,0.0,0,7,0.239583,23,0.0,0.0,0.0,0.0,1.0,22.0,18.447916,1771.0,0,1,0.010417,1,0,1,0.010417,1,0.0,315000.0,11906.250000,1143000.0,0.0,14.0,0.479167,46.0,18642.857422,37125.0,25778.572266,128892.859375,0.5,0.5,0.5,2.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.115301
3,100021,17,0.0,0.00000,0.000000,0.00,675000,675000,675000.000000,11475000,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.0000,0.0,0.0,0.000000,0.00,0.000000,0.00000,0.000000,0.000,0.000000,0.00000,0.000000,0.000,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,2702.699951,2702.699951,2702.699951,45945.898438,0.0,0.0,0.0,0.0,0,0,0.000000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0,0,0.000000,0,0,0,0.000000,0,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0,0.0,0.000000
4,100023,8,0.0,0.00000,0.000000,0.00,45000,225000,135000.000000,1080000,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.0000,0.0,0.0,0.000000,0.00,0.000000,0.00000,0.000000,0.000,0.000000,0.00000,0.000000,0.000,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,2702.699951,2702.699951,2702.699951,21621.599609,0.0,0.0,0.0,0.0,0,0,0.000000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0,0,0.000000,0,0,0,0.000000,0,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0,0.0,0.000000

In [89]:
ccb_clean = ccb.copy()

In [90]:
print('Train dimension:', train_clean.shape)
print('Test dimension:', test_clean.shape)
print('Bureau & Bureau Balance dimension:', bureau_clean.shape)
print('Instalment dimension: ', installment_clean.shape)
print('Credit Card Balance dimension: ', ccb_clean.shape)

Train dimension: (307511, 89)
Test dimension: (48744, 88)
Bureau & Bureau Balance dimension: (305811, 41)
Instalment dimension:  (339587, 33)
Credit Card Balance dimension:  (103558, 104)

## 3.3 Pos Cash Balance

In [91]:
reduce_memory_usage(pos_cb)
pos_cb.info()

Memory usage of dataframe is 610.43 MB
Memory usage after optimization is: 238.45 MB
Decreased by 60.9%
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10001358 entries, 0 to 10001357
Data columns (total 8 columns):
 #   Column                 Dtype
---  ------                 -----
 0   SK_ID_PREV             int32
 1   SK_ID_CURR             int32
 2   MONTHS_BALANCE         int8
 3   CNT_INSTALMENT         float16
 4   CNT_INSTALMENT_FUTURE  float16
 5   NAME_CONTRACT_STATUS   object
 6   SK_DPD                 int16
 7   SK_DPD_DEF             int16
dtypes: float16(2), int16(2), int32(2), int8(1), object(1)
memory usage: 238.5+ MB

In [92]:
pos_cb = replace_missing_with_null(pos_cb, missing_values)

In [93]:
# Check Null Value
null_analysis = check_null_percentage(pos_cb)
print("Total rows in dataset:", len(pos_cb))
print("\nNull Value Analysis:")
print(null_analysis)

Total rows in dataset: 10001358

Null Value Analysis:
                       Total_Null  Null_Percentage
CNT_INSTALMENT              26071             0.26
CNT_INSTALMENT_FUTURE       26087             0.26
NAME_CONTRACT_STATUS            2             0.00

In [94]:
def handling_na_ccb(data):
    # Mengisi nilai null dengan median
    columns_fill_median = ['CNT_INSTALMENT', 'CNT_INSTALMENT_FUTURE']
    
    data[columns_fill_median] = data[columns_fill_median].fillna(data[columns_fill_median].median())

    # Mengisi nilai null dengan modus
    columns_fill_mode = ['NAME_CONTRACT_STATUS']

    for column in columns_fill_mode:
        mode_value = data[column].mode()[0]
        data[column] = data[column].fillna(mode_value)

In [95]:
handling_na_ccb(pos_cb)

In [96]:
pos_cb.duplicated().sum()

np.int64(0)

In [97]:
# Feature Engineering
def pos_cash_balance_FE(data):
    
    # Menghitung Ratio Cicilan yang Berjalan
    data['PAYMENT_PROGRESS_RATIO'] = data['CNT_INSTALMENT'] / data['CNT_INSTALMENT_FUTURE']

    # Menghitung Sisa Cicilan
    data['REMAINING_PAYMENT'] = data['CNT_INSTALMENT_FUTURE'] - data['CNT_INSTALMENT']

In [98]:
pos_cash_balance_FE(pos_cb)

In [99]:
column_obj = pos_cb.select_dtypes('object').columns
pos_cb = pos_cb.drop(columns=column_obj)

In [100]:
def aggregate_pos_cash(df, group_by='SK_ID_CURR'):
    agg_pos = df.groupby(group_by).agg({
        # Jumlah record per customer
        'SK_ID_PREV': 'nunique',  # Menghitung jumlah unique previous applications
        
        # Agregasi MONTHS_BALANCE
        'MONTHS_BALANCE': ['min', 'max', 'mean', 'size'],  # size untuk menghitung total records
        
        # Agregasi installment counts
        'CNT_INSTALMENT': ['min', 'max', 'mean', 'sum'],
        'CNT_INSTALMENT_FUTURE': ['min', 'max', 'mean', 'sum'],
        
        # Agregasi untuk status kontrak (categorical)
        #'NAME_CONTRACT_STATUS': lambda x: dict(x.value_counts()), # Menghitung frekuensi setiap status
        
        # Agregasi untuk SK_DPD (Days Past Due)
        'SK_DPD': ['max', 'mean', 'sum'],
        'SK_DPD_DEF': ['max', 'mean', 'sum']
    })
    
    # Flatten kolom multiindex
    agg_pos.columns = ['POS_' + '_'.join(col).upper() for col in agg_pos.columns.values]
    
    return agg_pos

In [101]:
#pos_cb.columns = ['Pos_' + ''.join(col).upper() for col in pos_cb.columns]

In [102]:
posh_cb_clean = aggregate_pos_cash(pos_cb, group_by='SK_ID_CURR')

In [103]:
posh_cb_clean.head()

,POS_SK_ID_PREV_NUNIQUE,POS_MONTHS_BALANCE_MIN,POS_MONTHS_BALANCE_MAX,POS_MONTHS_BALANCE_MEAN,POS_MONTHS_BALANCE_SIZE,POS_CNT_INSTALMENT_MIN,POS_CNT_INSTALMENT_MAX,POS_CNT_INSTALMENT_MEAN,POS_CNT_INSTALMENT_SUM,POS_CNT_INSTALMENT_FUTURE_MIN,POS_CNT_INSTALMENT_FUTURE_MAX,POS_CNT_INSTALMENT_FUTURE_MEAN,POS_CNT_INSTALMENT_FUTURE_SUM,POS_SK_DPD_MAX,POS_SK_DPD_MEAN,POS_SK_DPD_SUM,POS_SK_DPD_DEF_MAX,POS_SK_DPD_DEF_MEAN,POS_SK_DPD_DEF_SUM
SK_ID_CURR,,,,,,,,,,,,,,,,,,,
100001,2,-96,-53,-72.555556,9,4.0,4.0,4.000000,36.0,0.0,4.0,1.444444,13.0,7,0.777778,7,7,0.777778,7
100002,1,-19,-1,-10.000000,19,24.0,24.0,24.000000,456.0,6.0,24.0,15.000000,285.0,0,0.000000,0,0,0.000000,0
100003,3,-77,-18,-43.785714,28,6.0,12.0,10.107142,283.0,0.0,12.0,5.785714,162.0,0,0.000000,0,0,0.000000,0
100004,1,-27,-24,-25.500000,4,3.0,4.0,3.750000,15.0,0.0,4.0,2.250000,9.0,0,0.000000,0,0,0.000000,0
100005,1,-25,-15,-20.000000,11,9.0,12.0,11.727273,129.0,0.0,12.0,7.181818,79.0,0,0.000000,0,0,0.000000,0

In [104]:
print('Train dimension:', train_clean.shape)
print('Test dimension:', test_clean.shape)
print('Bureau & Bureau Balance dimension:', bureau_clean.shape)
print('Instalment dimension: ', installment_clean.shape)
print('Credit Card Balance dimension: ', ccb_clean.shape)
print('Pos Cash Balance dimension: ', posh_cb_clean.shape)

Train dimension: (307511, 89)
Test dimension: (48744, 88)
Bureau & Bureau Balance dimension: (305811, 41)
Instalment dimension:  (339587, 33)
Credit Card Balance dimension:  (103558, 104)
Pos Cash Balance dimension:  (337252, 19)

## 3.4 Previous Application

In [105]:
reduce_memory_usage(prev)
prev.info()

Memory usage of dataframe is 471.48 MB
Memory usage after optimization is: 309.01 MB
Decreased by 34.5%
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1670214 entries, 0 to 1670213
Data columns (total 37 columns):
 #   Column                       Non-Null Count    Dtype
---  ------                       --------------    -----
 0   SK_ID_PREV                   1670214 non-null  int32
 1   SK_ID_CURR                   1670214 non-null  int32
 2   NAME_CONTRACT_TYPE           1670214 non-null  object
 3   AMT_ANNUITY                  1297979 non-null  float32
 4   AMT_APPLICATION              1670214 non-null  float32
 5   AMT_CREDIT                   1670213 non-null  float32
 6   AMT_DOWN_PAYMENT             774370 non-null   float32
 7   AMT_GOODS_PRICE              1284699 non-null  float32
 8   WEEKDAY_APPR_PROCESS_START   1670214 non-null  object
 9   HOUR_APPR_PROCESS_START      1670214 non-null  int8
 10  FLAG_LAST_APPL_PER_CONTRACT  1670214 non-null  object
 11  NFLAG_LAST_APPL_IN_DAY       1670214 non-null  int8
 12  RATE_DOWN_PAYMENT            774370 non-null   float16
 13  RATE_INTEREST_PRIMARY        5951 non-null     float16
 14  RATE_INTEREST_PRIVILEGED     5951 non-null     float16
 15  NAME_CASH_LOAN_PURPOSE       1670214 non-null  object
 16  NAME_CONTRACT_STATUS         1670214 non-null  object
 17  DAYS_DECISION                1670214 non-null  int16
 18  NAME_PAYMENT_TYPE            1670214 non-null  object
 19  CODE_REJECT_REASON           1670214 non-null  object
 20  NAME_TYPE_SUITE              849809 non-null   object
 21  NAME_CLIENT_TYPE             1670214 non-null  object
 22  NAME_GOODS_CATEGORY          1670214 non-null  object
 23  NAME_PORTFOLIO               1670214 non-null  object
 24  NAME_PRODUCT_TYPE            1670214 non-null  object
 25  CHANNEL_TYPE                 1670214 non-null  object
 26  SELLERPLACE_AREA             1670214 non-null  int32
 27  NAME_SELLER_INDUSTRY         1670214 non-null  object
 28  CNT_PAYMENT                  1297984 non-null  float16
 29  NAME_YIELD_GROUP             1670214 non-null  object
 30  PRODUCT_COMBINATION          1669868 non-null  object
 31  DAYS_FIRST_DRAWING           997149 non-null   float32
 32  DAYS_FIRST_DUE               997149 non-null   float32
 33  DAYS_LAST_DUE_1ST_VERSION    997149 non-null   float32
 34  DAYS_LAST_DUE                997149 non-null   float32
 35  DAYS_TERMINATION             997149 non-null   float32
 36  NFLAG_INSURED_ON_APPROVAL    997149 non-null   float16
dtypes: float16(5), float32(10), int16(1), int32(3), int8(2), object(16)
memory usage: 309.0+ MB

In [106]:
prev = replace_missing_with_null(prev, missing_values)

In [107]:
# Check Null Value
null_analysis = check_null_percentage(prev)
print("Total rows in dataset:", len(prev))
print("\nNull Value Analysis:")
print(null_analysis)

Total rows in dataset: 1670214

Null Value Analysis:
                           Total_Null  Null_Percentage
RATE_INTEREST_PRIVILEGED      1664263            99.64
RATE_INTEREST_PRIMARY         1664263            99.64
NAME_PRODUCT_TYPE             1063666            63.68
NAME_GOODS_CATEGORY            950809            56.93
AMT_DOWN_PAYMENT               895844            53.64
RATE_DOWN_PAYMENT              895844            53.64
NAME_SELLER_INDUSTRY           855720            51.23
NAME_TYPE_SUITE                820405            49.12
NAME_CASH_LOAN_PURPOSE         677918            40.59
DAYS_TERMINATION               673065            40.30
DAYS_FIRST_DUE                 673065            40.30
DAYS_LAST_DUE                  673065            40.30
DAYS_LAST_DUE_1ST_VERSION      673065            40.30
NFLAG_INSURED_ON_APPROVAL      673065            40.30
DAYS_FIRST_DRAWING             673065            40.30
NAME_PAYMENT_TYPE              627384            37.56
NAME_YIELD_GROUP               517215            30.97
AMT_GOODS_PRICE                385515            23.08
AMT_ANNUITY                    372235            22.29
NAME_PORTFOLIO                 372230            22.29
CNT_PAYMENT                    372230            22.29
CODE_REJECT_REASON               5244             0.31
NAME_CLIENT_TYPE                 1941             0.12
PRODUCT_COMBINATION               346             0.02
NAME_CONTRACT_TYPE                346             0.02
AMT_CREDIT                          1             0.00

Terdapat 2 features yang memiliki Null Percentage sebesar 99% sehingga feature tidak memiliki arti untuk model dan akan dilakukan drop features dan sisanya akan diisi dengan median dan unknown untuk null value di kisaran 20% - 65% dan modus untuk di bawah 20%.

In [108]:
prev['NAME_CONTRACT_TYPE'].unique()

array(['Consumer loans', 'Cash loans', 'Revolving loans', nan],
      dtype=object)

In [109]:
prev = prev.drop(columns=['RATE_INTEREST_PRIVILEGED', 'RATE_INTEREST_PRIMARY', 'DAYS_LAST_DUE_1ST_VERSION'], axis = 1)

In [110]:
def handling_na_prev(data):

    # Mengisi nilai null dengan median
    columns_fill_median = ['AMT_DOWN_PAYMENT', 'RATE_DOWN_PAYMENT', 
                            'DAYS_TERMINATION', 'DAYS_FIRST_DUE', 
                            'DAYS_LAST_DUE', 'NFLAG_INSURED_ON_APPROVAL', 
                            'DAYS_FIRST_DRAWING', 'AMT_GOODS_PRICE', 
                            'AMT_ANNUITY', 'CNT_PAYMENT', 'AMT_CREDIT']
    
    data[columns_fill_median] = data[columns_fill_median].fillna(data[columns_fill_median].median())
    
    # Mengisi nilai null dengan unknown
    columns_fill_unknown = ['NAME_PRODUCT_TYPE', 'NAME_GOODS_CATEGORY', 'NAME_SELLER_INDUSTRY', 'NAME_TYPE_SUITE',
                            'NAME_CASH_LOAN_PURPOSE', 'NAME_PAYMENT_TYPE', 'NAME_YIELD_GROUP', 'NAME_PORTFOLIO']
    
    data[columns_fill_unknown] = data[columns_fill_unknown].fillna('unknown')

    # Mengisi nilai null dengan modus
    columns_fill_mode = ['CODE_REJECT_REASON', 'NAME_CLIENT_TYPE', 'PRODUCT_COMBINATION', 'NAME_CONTRACT_TYPE']

    for column in columns_fill_mode:
        mode_value = data[column].mode()[0]
        data[column] = data[column].fillna(mode_value)

In [111]:
handling_na_prev(prev)

In [112]:
prev.duplicated().sum()

np.int64(0)

### Label Encoding

In [113]:
prev['NAME_CASH_LOAN_PURPOSE'].value_counts() / sum(prev['NAME_GOODS_CATEGORY'].value_counts())*100

NAME_CASH_LOAN_PURPOSE
XAP                                 55.242083
unknown                             40.588691
Repairs                              1.422872
Other                                0.934491
Urgent needs                         0.503648
Buying a used car                    0.172912
Building a house or an annex         0.161237
Everyday expenses                    0.144652
Medicine                             0.130163
Payments on other loans              0.115614
Education                            0.094180
Journey                              0.074182
Purchase of electronic equipment     0.063525
Buying a new car                     0.060591
Wedding / gift / holiday             0.057597
Buying a home                        0.051790
Car repairs                          0.047718
Furniture                            0.044845
Buying a holiday home / land         0.031912
Business development                 0.025506
Gasification / water supply          0.017962
Buying a garage                      0.008143
Hobby                                0.003293
Money for a third person             0.001497
Refusal to name the goal             0.000898
Name: count, dtype: float64

Menggabungkan Unknown dengan XAP dan value yang berada di bawah 0.1% akan masuk ke Other.

In [114]:
prev['NAME_GOODS_CATEGORY'].value_counts() / sum(prev['NAME_GOODS_CATEGORY'].value_counts())*100

NAME_GOODS_CATEGORY
unknown                     56.927376
Mobile                      13.453845
Consumer Electronics         7.279067
Computers                    6.332662
Audio/Video                  5.953788
Furniture                    3.212522
Photo / Cinema Equipment     1.498072
Construction Materials       1.496515
Clothing and Accessories     1.410238
Auto Accessories             0.441919
Jewelry                      0.376598
Homewares                    0.300740
Medical Supplies             0.230090
Vehicles                     0.201771
Sport and Leisure            0.178480
Gardening                    0.159740
Other                        0.152915
Office Appliances            0.139683
Tourism                      0.099329
Medicine                     0.092802
Direct Sales                 0.026703
Fitness                      0.012513
Additional Service           0.007664
Education                    0.006406
Weapon                       0.004610
Insurance                    0.003832
Animals                      0.000060
House Construction           0.000060
Name: count, dtype: float64

In [115]:
prev.select_dtypes('object').columns

Index(['NAME_CONTRACT_TYPE', 'WEEKDAY_APPR_PROCESS_START',
       'FLAG_LAST_APPL_PER_CONTRACT', 'NAME_CASH_LOAN_PURPOSE',
       'NAME_CONTRACT_STATUS', 'NAME_PAYMENT_TYPE', 'CODE_REJECT_REASON',
       'NAME_TYPE_SUITE', 'NAME_CLIENT_TYPE', 'NAME_GOODS_CATEGORY',
       'NAME_PORTFOLIO', 'NAME_PRODUCT_TYPE', 'CHANNEL_TYPE',
       'NAME_SELLER_INDUSTRY', 'NAME_YIELD_GROUP', 'PRODUCT_COMBINATION'],
      dtype='object')

In [116]:
prev['NAME_CASH_LOAN_PURPOSE'].value_counts() / sum(prev['NAME_GOODS_CATEGORY'].value_counts())*100

NAME_CASH_LOAN_PURPOSE
XAP                                 55.242083
unknown                             40.588691
Repairs                              1.422872
Other                                0.934491
Urgent needs                         0.503648
Buying a used car                    0.172912
Building a house or an annex         0.161237
Everyday expenses                    0.144652
Medicine                             0.130163
Payments on other loans              0.115614
Education                            0.094180
Journey                              0.074182
Purchase of electronic equipment     0.063525
Buying a new car                     0.060591
Wedding / gift / holiday             0.057597
Buying a home                        0.051790
Car repairs                          0.047718
Furniture                            0.044845
Buying a holiday home / land         0.031912
Business development                 0.025506
Gasification / water supply          0.017962
Buying a garage                      0.008143
Hobby                                0.003293
Money for a third person             0.001497
Refusal to name the goal             0.000898
Name: count, dtype: float64

In [117]:
# Feature Encoding
def prev_encoding(data):
    data['WEEKDAY_APPR_PROCESS_START'] = data['WEEKDAY_APPR_PROCESS_START'].map({'MONDAY': 1, 'TUESDAY': 2, 'WEDNESDAY': 3, 'THURSDAY': 4, 'FRIDAY': 5, 'SATURDAY': 6, 'SUNDAY': 7})
    data['FLAG_LAST_APPL_PER_CONTRACT'] = data['FLAG_LAST_APPL_PER_CONTRACT'].map({'N': 0, 'Y': 1})
    data['NAME_CASH_LOAN_PURPOSE'] = data['NAME_CASH_LOAN_PURPOSE'].replace({'unknown': 'XAP'}) # Menggabungkan unknown dengan XAP
    data['NAME_YIELD_GROUP'] = data['NAME_YIELD_GROUP'].map({'unknown': 0, 'low_action': 1, 'low_normal': 2, 'middle': 3, 'high': 4})
    prev['NAME_CASH_LOAN_PURPOSE'] = prev['NAME_CASH_LOAN_PURPOSE'].replace({
                                                                    'Education': 'Other', 'Journey': 'Other', 'Purchase of electronic equipment': 'Other', 'Buying a new car': 'Other',
                                                                    'Wedding / gift / holiday': 'Other', 'Buying a home': 'Other', 'Car repairs': 'Other', 'Furniture': 'Other',
                                                                    'Buying a holiday home / land': 'Other', 'Business development': 'Other', 'Gasification / water supply': 'Other',
                                                                    'Buying a garage': 'Other', 'Hobby': 'Other', 'Money for a third person': 'Other', 'Refusal to name the goal': 'Other',
    })
    data['NAME_GOODS_CATEGORY'] = data['NAME_GOODS_CATEGORY'].map({
                                                                    # Electronics group
                                                                    'Mobile': 'Electronics',
                                                                    'Consumer Electronics': 'Electronics',
                                                                    'Computers': 'Electronics',
                                                                    'Audio/Video': 'Electronics',
                                                                    'Photo / Cinema Equipment': 'Electronics',
                                                                    'Office Appliances': 'Electronics',
                                                                    
                                                                    # Home and Living group
                                                                    'Furniture': 'Home and Living',
                                                                    'Construction Materials': 'Home and Living',
                                                                    'Homewares': 'Home and Living',
                                                                    'Gardening': 'Home and Living',
                                                                    'House Construction': 'Home and Living',
                                                                    
                                                                    # Fashion and Accessories group
                                                                    'Clothing and Accessories': 'Fashion',
                                                                    'Jewelry': 'Fashion',
                                                                    
                                                                    # Auto and Transport group
                                                                    'Auto Accessories': 'Auto and Transport',
                                                                    'Vehicles': 'Auto and Transport',
                                                                    
                                                                    # Health and Wellness group
                                                                    'Medical Supplies': 'Health and Wellness',
                                                                    'Medicine': 'Health and Wellness',
                                                                    'Fitness': 'Health and Wellness',
                                                                    'Sport and Leisure': 'Health and Wellness',
                                                                    
                                                                    # Services group
                                                                    'Tourism': 'Services',
                                                                    'Direct Sales': 'Services',
                                                                    'Additional Service': 'Services',
                                                                    'Education': 'Services',
                                                                    'Insurance': 'Services',
                                                                    
                                                                    # Others
                                                                    'Other': 'Other',
                                                                    'unknown': 'Other',
                                                                    'Animals': 'Other',
                                                                    'Weapon': 'Other'
                                                                })

In [118]:
prev_encoding(prev)

In [119]:
prev[['WEEKDAY_APPR_PROCESS_START', 'FLAG_LAST_APPL_PER_CONTRACT', 'NAME_CASH_LOAN_PURPOSE', 'NAME_YIELD_GROUP', 'NAME_GOODS_CATEGORY']].sample(5)

,WEEKDAY_APPR_PROCESS_START,FLAG_LAST_APPL_PER_CONTRACT,NAME_CASH_LOAN_PURPOSE,NAME_YIELD_GROUP,NAME_GOODS_CATEGORY
1026093,3,1,XAP,2,Home and Living
121264,4,1,XAP,3,Other
1168302,2,1,XAP,2,Other
432848,4,1,XAP,0,Other
542221,1,1,XAP,0,Other

In [120]:
prev['NAME_CASH_LOAN_PURPOSE'].unique()

array(['XAP', 'Repairs', 'Everyday expenses', 'Other',
       'Building a house or an annex', 'Medicine',
       'Payments on other loans', 'Urgent needs', 'Buying a used car'],
      dtype=object)

In [121]:
prev.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1670214 entries, 0 to 1670213
Data columns (total 34 columns):
 #   Column                       Non-Null Count    Dtype
---  ------                       --------------    -----
 0   SK_ID_PREV                   1670214 non-null  int32
 1   SK_ID_CURR                   1670214 non-null  int32
 2   NAME_CONTRACT_TYPE           1670214 non-null  object
 3   AMT_ANNUITY                  1670214 non-null  float32
 4   AMT_APPLICATION              1670214 non-null  float32
 5   AMT_CREDIT                   1670214 non-null  float32
 6   AMT_DOWN_PAYMENT             1670214 non-null  float32
 7   AMT_GOODS_PRICE              1670214 non-null  float32
 8   WEEKDAY_APPR_PROCESS_START   1670214 non-null  int64
 9   HOUR_APPR_PROCESS_START      1670214 non-null  int8
 10  FLAG_LAST_APPL_PER_CONTRACT  1670214 non-null  int64
 11  NFLAG_LAST_APPL_IN_DAY       1670214 non-null  int8
 12  RATE_DOWN_PAYMENT            1670214 non-null  float16
 13  NAME_CASH_LOAN_PURPOSE       1670214 non-null  object
 14  NAME_CONTRACT_STATUS         1670214 non-null  object
 15  DAYS_DECISION                1670214 non-null  int16
 16  NAME_PAYMENT_TYPE            1670214 non-null  object
 17  CODE_REJECT_REASON           1670214 non-null  object
 18  NAME_TYPE_SUITE              1670214 non-null  object
 19  NAME_CLIENT_TYPE             1670214 non-null  object
 20  NAME_GOODS_CATEGORY          1670214 non-null  object
 21  NAME_PORTFOLIO               1670214 non-null  object
 22  NAME_PRODUCT_TYPE            1670214 non-null  object
 23  CHANNEL_TYPE                 1670214 non-null  object
 24  SELLERPLACE_AREA             1670214 non-null  int32
 25  NAME_SELLER_INDUSTRY         1670214 non-null  object
 26  CNT_PAYMENT                  1670214 non-null  float16
 27  NAME_YIELD_GROUP             1670214 non-null  int64
 28  PRODUCT_COMBINATION          1670214 non-null  object
 29  DAYS_FIRST_DRAWING           1670214 non-null  float32
 30  DAYS_FIRST_DUE               1670214 non-null  float32
 31  DAYS_LAST_DUE                1670214 non-null  float32
 32  DAYS_TERMINATION             1670214 non-null  float32
 33  NFLAG_INSURED_ON_APPROVAL    1670214 non-null  float16
dtypes: float16(3), float32(9), int16(1), int32(3), int64(3), int8(2), object(13)
memory usage: 296.3+ MB

In [122]:
prev['NAME_YIELD_GROUP'].unique()

array([3, 1, 4, 2, 0])

In [123]:
column_obj = prev.select_dtypes('object').columns
prev = prev.drop(columns=column_obj)

In [124]:
def aggregate_previous_application(df, group_by='SK_ID_CURR'):
   agg_prev = df.groupby(group_by).agg({
       # Count unique previous applications
       'SK_ID_PREV': 'nunique',
       
       # Amount aggregations
       'AMT_ANNUITY': ['min', 'max', 'mean', 'sum'],
       'AMT_APPLICATION': ['min', 'max', 'mean', 'sum'],
       'AMT_CREDIT': ['min', 'max', 'mean', 'sum'],
       'AMT_DOWN_PAYMENT': ['min', 'max', 'mean', 'sum'],
       'AMT_GOODS_PRICE': ['min', 'max', 'mean', 'sum'],
       
       # Time-related features
       'WEEKDAY_APPR_PROCESS_START': ['nunique', lambda x: x.mode().iloc[0] if not x.empty else None],
       'HOUR_APPR_PROCESS_START': ['nunique', lambda x: x.mode().iloc[0] if not x.empty else None],
       
       # Flag aggregations
       'FLAG_LAST_APPL_PER_CONTRACT': ['mean', 'sum'],
       'NFLAG_LAST_APPL_IN_DAY': ['mean', 'sum'],
       'NFLAG_INSURED_ON_APPROVAL': ['mean', 'sum'],
       
       # Payment related
       'RATE_DOWN_PAYMENT': ['min', 'max', 'mean'],
       'CNT_PAYMENT': ['min', 'max', 'mean', 'sum'],
       
       # Days related
       'DAYS_DECISION': ['min', 'max', 'mean'],
       'DAYS_FIRST_DRAWING': ['min', 'max', 'mean'],
       'DAYS_FIRST_DUE': ['min', 'max', 'mean'],
       'DAYS_LAST_DUE': ['min', 'max', 'mean'],
       'DAYS_TERMINATION': ['min', 'max', 'mean'],
       
       # Other features
       'SELLERPLACE_AREA': ['nunique', 'mean'],
       'NAME_YIELD_GROUP': 'nunique'
   })
   
   # Flatten columns
   agg_prev.columns = ['PREV_' + '_'.join(str(col) for col in col_name).upper() for col_name in agg_prev.columns]
   
   return agg_prev

In [125]:
prev_clean = aggregate_previous_application(prev, group_by='SK_ID_CURR')

In [126]:
#prev.columns = ['Prev_' + ''.join(col).upper() for col in prev.columns]

In [127]:
prev_clean.sample()

,PREV_SK_ID_PREV_NUNIQUE,PREV_AMT_ANNUITY_MIN,PREV_AMT_ANNUITY_MAX,PREV_AMT_ANNUITY_MEAN,PREV_AMT_ANNUITY_SUM,PREV_AMT_APPLICATION_MIN,PREV_AMT_APPLICATION_MAX,PREV_AMT_APPLICATION_MEAN,PREV_AMT_APPLICATION_SUM,PREV_AMT_CREDIT_MIN,PREV_AMT_CREDIT_MAX,PREV_AMT_CREDIT_MEAN,PREV_AMT_CREDIT_SUM,PREV_AMT_DOWN_PAYMENT_MIN,PREV_AMT_DOWN_PAYMENT_MAX,PREV_AMT_DOWN_PAYMENT_MEAN,PREV_AMT_DOWN_PAYMENT_SUM,PREV_AMT_GOODS_PRICE_MIN,PREV_AMT_GOODS_PRICE_MAX,PREV_AMT_GOODS_PRICE_MEAN,PREV_AMT_GOODS_PRICE_SUM,PREV_WEEKDAY_APPR_PROCESS_START_NUNIQUE,PREV_WEEKDAY_APPR_PROCESS_START_<LAMBDA_0>,PREV_HOUR_APPR_PROCESS_START_NUNIQUE,PREV_HOUR_APPR_PROCESS_START_<LAMBDA_0>,PREV_FLAG_LAST_APPL_PER_CONTRACT_MEAN,PREV_FLAG_LAST_APPL_PER_CONTRACT_SUM,PREV_NFLAG_LAST_APPL_IN_DAY_MEAN,PREV_NFLAG_LAST_APPL_IN_DAY_SUM,PREV_NFLAG_INSURED_ON_APPROVAL_MEAN,PREV_NFLAG_INSURED_ON_APPROVAL_SUM,PREV_RATE_DOWN_PAYMENT_MIN,PREV_RATE_DOWN_PAYMENT_MAX,PREV_RATE_DOWN_PAYMENT_MEAN,PREV_CNT_PAYMENT_MIN,PREV_CNT_PAYMENT_MAX,PREV_CNT_PAYMENT_MEAN,PREV_CNT_PAYMENT_SUM,PREV_DAYS_DECISION_MIN,PREV_DAYS_DECISION_MAX,PREV_DAYS_DECISION_MEAN,PREV_DAYS_FIRST_DRAWING_MIN,PREV_DAYS_FIRST_DRAWING_MAX,PREV_DAYS_FIRST_DRAWING_MEAN,PREV_DAYS_FIRST_DUE_MIN,PREV_DAYS_FIRST_DUE_MAX,PREV_DAYS_FIRST_DUE_MEAN,PREV_DAYS_LAST_DUE_MIN,PREV_DAYS_LAST_DUE_MAX,PREV_DAYS_LAST_DUE_MEAN,PREV_DAYS_TERMINATION_MIN,PREV_DAYS_TERMINATION_MAX,PREV_DAYS_TERMINATION_MEAN,PREV_SELLERPLACE_AREA_NUNIQUE,PREV_SELLERPLACE_AREA_MEAN,PREV_NAME_YIELD_GROUP_NUNIQUE
SK_ID_CURR,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
123712,10,9170.549805,26901.0,17286.746094,172867.453125,0.0,810000.0,206374.5,2063745.0,46485.0,810000.0,240919.65625,2409196.5,0.0,10174.5,1836.449951,18364.5,45000.0,810000.0,217606.5,2176065.0,4,1,6,8,1.0,10,1.0,10,0.5,5.0,0.0,0.108887,0.036691,0.0,48.0,14.2,142.0,-2397,-429,-1467.4,365243.0,365243.0,365243.0,-2362.0,365243.0,35113.699219,-2092.0,365243.0,35353.101562,-2090.0,365243.0,35362.398438,2,9.1,3

In [128]:
print('Train dimension:', train_clean.shape)
print('Test dimension:', test_clean.shape)
print('Bureau & Bureau Balance dimension:', bureau_clean.shape)
print('Instalment dimension: ', installment_clean.shape)
print('Credit Card Balance dimension: ', ccb_clean.shape)
print('Pos Cash Balance dimension: ', posh_cb_clean.shape)
print('Previous Application dimension: ', prev_clean.shape)

Train dimension: (307511, 89)
Test dimension: (48744, 88)
Bureau & Bureau Balance dimension: (305811, 41)
Instalment dimension:  (339587, 33)
Credit Card Balance dimension:  (103558, 104)
Pos Cash Balance dimension:  (337252, 19)
Previous Application dimension:  (338857, 56)

# Merging Dataset

In [134]:
bureau_clean.head(1)

,BUR_SK_ID_BUREAU_COUNT,BUR_DAYS_CREDIT_MIN,BUR_DAYS_CREDIT_MAX,BUR_DAYS_CREDIT_MEAN,BUR_DAYS_CREDIT_ENDDATE_MIN,BUR_DAYS_CREDIT_ENDDATE_MAX,BUR_DAYS_CREDIT_ENDDATE_MEAN,BUR_DAYS_ENDDATE_FACT_MIN,BUR_DAYS_ENDDATE_FACT_MAX,BUR_DAYS_ENDDATE_FACT_MEAN,BUR_DAYS_CREDIT_UPDATE_MIN,BUR_DAYS_CREDIT_UPDATE_MAX,BUR_DAYS_CREDIT_UPDATE_MEAN,BUR_DAYS_DURATION_CREDIT_MIN,BUR_DAYS_DURATION_CREDIT_MAX,BUR_DAYS_DURATION_CREDIT_MEAN,BUR_CREDIT_DAY_OVERDUE_MAX,BUR_CREDIT_DAY_OVERDUE_MEAN,BUR_CREDIT_DAY_OVERDUE_SUM,BUR_AMT_CREDIT_MAX_OVERDUE_MAX,BUR_AMT_CREDIT_MAX_OVERDUE_MEAN,BUR_AMT_CREDIT_SUM_MAX,BUR_AMT_CREDIT_SUM_MEAN,BUR_AMT_CREDIT_SUM_SUM,BUR_AMT_CREDIT_SUM_DEBT_MAX,BUR_AMT_CREDIT_SUM_DEBT_MEAN,BUR_AMT_CREDIT_SUM_DEBT_SUM,BUR_AMT_CREDIT_SUM_LIMIT_MAX,BUR_AMT_CREDIT_SUM_LIMIT_MEAN,BUR_AMT_CREDIT_SUM_LIMIT_SUM,BUR_AMT_CREDIT_SUM_OVERDUE_MAX,BUR_AMT_CREDIT_SUM_OVERDUE_MEAN,BUR_AMT_CREDIT_SUM_OVERDUE_SUM,BUR_AMT_ANNUITY_MAX,BUR_AMT_ANNUITY_MEAN,BUR_AMT_ANNUITY_SUM,BUR_CNT_CREDIT_PROLONG_MAX,BUR_CNT_CREDIT_PROLONG_SUM,BUR_MONTHS_BALANCE_MIN,BUR_MONTHS_BALANCE_MAX,BUR_MONTHS_BALANCE_MEAN
SK_ID_CURR,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
100001,17,-1572,-49,-813.941176,-1329.0,1778.0,-40.588234,-1328.0,-544.0,-851.588257,-155,-6,-103.823529,-859.0,335.0,-37.64706,0,0.0,0,0.0,0.0,378000.0,197981.46875,3365685.0,373239.0,70368.085938,1196257.5,0.0,0.0,0.0,0.0,0.0,0.0,10822.5,2641.235352,44901.0,0,0,-47.714286,0.0,-17.248599

In [139]:
merge1.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103285 entries, 0 to 103284
Data columns (total 137 columns):
 #    Column                               Dtype
---   ------                               -----
 0    INST_NUM_INSTALMENT_VERSION_NUNIQUE  int64
 1    INST_NUM_INSTALMENT_VERSION_MEAN     float32
 2    INST_NUM_INSTALMENT_NUMBER_MIN       int16
 3    INST_NUM_INSTALMENT_NUMBER_MAX       int16
 4    INST_NUM_INSTALMENT_NUMBER_MEAN      float64
 5    INST_NUM_INSTALMENT_NUMBER_SUM       int64
 6    INST_DAYS_LATE_MEAN                  float32
 7    INST_DAYS_LATE_MAX                   float16
 8    INST_DAYS_LATE_SUM                   float32
 9    INST_DAYS_LATE_COUNT                 int64
 10   INST_FLAG_LATE_PAYMENT_MEAN          float64
 11   INST_FLAG_LATE_PAYMENT_SUM           int64
 12   INST_PAYMENT_RATIO_MEAN              float32
 13   INST_PAYMENT_RATIO_MIN               float32
 14   INST_PAYMENT_DIFF_MEAN               float32
 15   INST_PAYMENT_DIFF_MAX                float32
 16   INST_PAYMENT_DIFF_SUM                float32
 17   INST_FLAG_UNDERPAYMENT_MEAN          float64
 18   INST_FLAG_UNDERPAYMENT_SUM           int64
 19   INST_AMT_INSTALMENT_MEAN             float32
 20   INST_AMT_INSTALMENT_MAX              float32
 21   INST_AMT_INSTALMENT_SUM              float32
 22   INST_AMT_PAYMENT_MEAN                float32
 23   INST_AMT_PAYMENT_MAX                 float32
 24   INST_AMT_PAYMENT_SUM                 float32
 25   INST_MONTH_INSTALMENT_MIN            float16
 26   INST_MONTH_INSTALMENT_MAX            float16
 27   INST_MONTH_ENTRY_PAYMENT_MIN         float16
 28   INST_MONTH_ENTRY_PAYMENT_MAX         float16
 29   INST_YEAR_INSTALLMENT_MIN            float16
 30   INST_YEAR_INSTALLMENT_MAX            float16
 31   INST_YEAR_ENTRY_PAYMENT_MIN          float16
 32   INST_YEAR_ENTRY_PAYMENT_MAX          float16
 33   CCB_SK_ID_CURR_                      int32
 34   CCB_MONTHS_BALANCE_COUNT             int64
 35   CCB_AMT_BALANCE_MIN                  float32
 36   CCB_AMT_BALANCE_MAX                  float32
 37   CCB_AMT_BALANCE_MEAN                 float32
 38   CCB_AMT_BALANCE_SUM                  float32
 39   CCB_AMT_CREDIT_LIMIT_ACTUAL_MIN      int32
 40   CCB_AMT_CREDIT_LIMIT_ACTUAL_MAX      int32
 41   CCB_AMT_CREDIT_LIMIT_ACTUAL_MEAN     float64
 42   CCB_AMT_CREDIT_LIMIT_ACTUAL_SUM      int32
 43   CCB_AMT_DRAWINGS_ATM_CURRENT_MIN     float32
 44   CCB_AMT_DRAWINGS_ATM_CURRENT_MAX     float32
 45   CCB_AMT_DRAWINGS_ATM_CURRENT_MEAN    float32
 46   CCB_AMT_DRAWINGS_ATM_CURRENT_SUM     float32
 47   CCB_AMT_DRAWINGS_CURRENT_MIN         float32
 48   CCB_AMT_DRAWINGS_CURRENT_MAX         float32
 49   CCB_AMT_DRAWINGS_CURRENT_MEAN        float32
 50   CCB_AMT_DRAWINGS_CURRENT_SUM         float32
 51   CCB_AMT_DRAWINGS_OTHER_CURRENT_MIN   float32
 52   CCB_AMT_DRAWINGS_OTHER_CURRENT_MAX   float32
 53   CCB_AMT_DRAWINGS_OTHER_CURRENT_MEAN  float32
 54   CCB_AMT_DRAWINGS_OTHER_CURRENT_SUM   float32
 55   CCB_AMT_INST_MIN_REGULARITY_MIN      float32
 56   CCB_AMT_INST_MIN_REGULARITY_MAX      float32
 57   CCB_AMT_INST_MIN_REGULARITY_MEAN     float32
 58   CCB_AMT_INST_MIN_REGULARITY_SUM      float32
 59   CCB_AMT_PAYMENT_TOTAL_CURRENT_MIN    float32
 60   CCB_AMT_PAYMENT_TOTAL_CURRENT_MAX    float32
 61   CCB_AMT_PAYMENT_TOTAL_CURRENT_MEAN   float32
 62   CCB_AMT_PAYMENT_TOTAL_CURRENT_SUM    float32
 63   CCB_AMT_RECEIVABLE_PRINCIPAL_MIN     float32
 64   CCB_AMT_RECEIVABLE_PRINCIPAL_MAX     float32
 65   CCB_AMT_RECEIVABLE_PRINCIPAL_MEAN    float32
 66   CCB_AMT_RECEIVABLE_PRINCIPAL_SUM     float32
 67   CCB_AMT_RECIVABLE_MIN                float32
 68   CCB_AMT_RECIVABLE_MAX                float32
 69   CCB_AMT_RECIVABLE_MEAN               float32
 70   CCB_AMT_RECIVABLE_SUM                float32
 71   CCB_AMT_TOTAL_RECEIVABLE_MIN         float32
 72   CCB_AMT_TOTAL_RECEIVABLE_MAX         float32
 73   CCB_AMT_TOTAL_RECEIVABLE_MEAN        float32
 74   CCB_AMT_TOTAL_RECEIVABLE_SUM         float32
 75   CCB_CNT_DRAWINGS_ATM_CURRENT_MIN     float16
 76   CCB_CNT_DRAWINGS_ATM_CURRENT_MAX     float16
 77   CCB_CNT_DRAWINGS_ATM_CURRENT_MEAN    float32
 78   CCB_CNT_DRAWINGS_ATM_CURRENT_SUM     float16
 79   CCB_AMT_DRAWINGS_POS_CURRENT_MIN     float32
 80   CCB_AMT_DRAWINGS_POS_CURRENT_MAX     float32
 81   CCB_AMT_DRAWINGS_POS_CURRENT_MEAN    float32
 82   CCB_AMT_DRAWINGS_POS_CURRENT_SUM     float32
 83   CCB_AMT_PAYMENT_CURRENT_MIN          float32
 84   CCB_AMT_PAYMENT_CURRENT_MAX          float32
 85   CCB_AMT_PAYMENT_CURRENT_MEAN         float32
 86   CCB_AMT_PAYMENT_CURRENT_SUM          float32
 87   CCB_CNT_DRAWINGS_OTHER_CURRENT_MIN   float16
 88   CCB_CNT_DRAWINGS_OTHER_CURRENT_MAX   float16
 89   CCB_CNT_DRAWINGS_OTHER_CURRENT_MEAN  float32
 90   CCB_CNT_DRAWINGS_OTHER_CURRENT_SUM   float16
 91   CCB_CNT_DRAWINGS_CURRENT_MIN         int16
 92   CCB_CNT_DRAWINGS_CURRENT_MAX         int16
 93   CCB_CNT_DRAWINGS_CURRENT_MEAN        float64
 94   CCB_CNT_DRAWINGS_CURRENT_SUM         int16
 95   CCB_CNT_DRAWINGS_POS_CURRENT_MIN     float16
 96   CCB_CNT_DRAWINGS_POS_CURRENT_MAX     float16
 97   CCB_CNT_DRAWINGS_POS_CURRENT_MEAN    float32
 98   CCB_CNT_DRAWINGS_POS_CURRENT_SUM     float16
 99   CCB_CNT_INSTALMENT_MATURE_CUM_MIN    float16
 100  CCB_CNT_INSTALMENT_MATURE_CUM_MAX    float16
 101  CCB_CNT_INSTALMENT_MATURE_CUM_MEAN   float32
 102  CCB_CNT_INSTALMENT_MATURE_CUM_SUM    float32
 103  CCB_SK_DPD_MIN                       int16
 104  CCB_SK_DPD_MAX                       int16
 105  CCB_SK_DPD_MEAN                      float64
 106  CCB_SK_DPD_SUM                       int64
 107  CCB_SK_DPD_DEF_MIN                   int16
 108  CCB_SK_DPD_DEF_MAX                   int16
 109  CCB_SK_DPD_DEF_MEAN                  float64
 110  CCB_SK_DPD_DEF_SUM                   int64
 111  CCB_TOTAL_DRAWINGS_MIN               float32
 112  CCB_TOTAL_DRAWINGS_MAX               float32
 113  CCB_TOTAL_DRAWINGS_MEAN              float32
 114  CCB_TOTAL_DRAWINGS_SUM               float32
 115  CCB_TOTAL_DRAWINGS_COUNT_MIN         float32
 116  CCB_TOTAL_DRAWINGS_COUNT_MAX         float32
 117  CCB_TOTAL_DRAWINGS_COUNT_MEAN        float32
 118  CCB_TOTAL_DRAWINGS_COUNT_SUM         float32
 119  CCB_AVG_DRAWING_MIN                  float32
 120  CCB_AVG_DRAWING_MAX                  float32
 121  CCB_AVG_DRAWING_MEAN                 float32
 122  CCB_AVG_DRAWING_SUM                  float32
 123  CCB_DRAWINGS_ATM_PERCENTAGE_MIN      float32
 124  CCB_DRAWINGS_ATM_PERCENTAGE_MAX      float32
 125  CCB_DRAWINGS_ATM_PERCENTAGE_MEAN     float32
 126  CCB_DRAWINGS_ATM_PERCENTAGE_SUM      float32
 127  CCB_DRAWINGS_POS_PERCENTAGE_MIN      float32
 128  CCB_DRAWINGS_POS_PERCENTAGE_MAX      float32
 129  CCB_DRAWINGS_POS_PERCENTAGE_MEAN     float32
 130  CCB_DRAWINGS_POS_PERCENTAGE_SUM      float32
 131  CCB_DRAWINGS_OTHER_PERCENTAGE_MIN    float32
 132  CCB_DRAWINGS_OTHER_PERCENTAGE_MAX    float32
 133  CCB_DRAWINGS_OTHER_PERCENTAGE_MEAN   float32
 134  CCB_DRAWINGS_OTHER_PERCENTAGE_SUM    float32
 135  CCB_FLAG_LATE_PAYMENT_MEAN           float64
 136  CCB_LIMIT_RATIO_MEAN                 float64
dtypes: float16(20), float32(87), float64(9), int16(9), int32(4), int64(8)
memory usage: 55.0 MB

In [145]:
merge1 = pd.merge(installment_clean, ccb_clean, left_on='SK_ID_CURR', right_on='CCB_SK_ID_CURR_', how='inner')
merge2 = pd.merge(merge1, posh_cb_clean, left_on='CCB_SK_ID_CURR_', right_on='SK_ID_CURR', how='inner')
merge3 = pd.merge(merge2, prev_clean, left_on='CCB_SK_ID_CURR_', right_on='SK_ID_CURR', how='inner')
merge_train1 = pd.merge(train_clean, bureau_clean, on='SK_ID_CURR', how='left')
merge_train_final = pd.merge(merge_train1, merge3, left_on='SK_ID_CURR', right_on='CCB_SK_ID_CURR_', how='left')
merge_test1 = pd.merge(test_clean, bureau_clean, on='SK_ID_CURR', how='left')
merge_test_final = pd.merge(merge_test1, merge3, left_on='SK_ID_CURR', right_on='CCB_SK_ID_CURR_', how='left')

In [146]:
merge_train_final.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 307511 entries, 0 to 307510
Data columns (total 342 columns):
 #    Column                                      Dtype
---   ------                                      -----
 0    SK_ID_CURR                                  int32
 1    TARGET                                      int8
 2    FLAG_OWN_CAR                                int64
 3    FLAG_OWN_REALTY                             int64
 4    CNT_CHILDREN                                int8
 5    AMT_INCOME_TOTAL                            float32
 6    AMT_CREDIT                                  float32
 7    AMT_ANNUITY                                 float32
 8    AMT_GOODS_PRICE                             float32
 9    NAME_EDUCATION_TYPE                         int64
 10   REGION_POPULATION_RELATIVE                  float16
 11   DAYS_BIRTH                                  int16
 12   DAYS_EMPLOYED                               int32
 13   DAYS_REGISTRATION                           float16
 14   DAYS_ID_PUBLISH                             int16
 15   OWN_CAR_AGE                                 float16
 16   FLAG_MOBIL                                  int8
 17   FLAG_EMP_PHONE                              int8
 18   FLAG_WORK_PHONE                             int8
 19   FLAG_CONT_MOBILE                            int8
 20   FLAG_PHONE                                  int8
 21   FLAG_EMAIL                                  int8
 22   CNT_FAM_MEMBERS                             float16
 23   REGION_RATING_CLIENT                        int8
 24   REGION_RATING_CLIENT_W_CITY                 int8
 25   WEEKDAY_APPR_PROCESS_START                  int64
 26   HOUR_APPR_PROCESS_START                     int8
 27   REG_REGION_NOT_LIVE_REGION                  int8
 28   REG_REGION_NOT_WORK_REGION                  int8
 29   LIVE_REGION_NOT_WORK_REGION                 int8
 30   REG_CITY_NOT_LIVE_CITY                      int8
 31   REG_CITY_NOT_WORK_CITY                      int8
 32   LIVE_CITY_NOT_WORK_CITY                     int8
 33   EXT_SOURCE_1                                float16
 34   EXT_SOURCE_2                                float16
 35   EXT_SOURCE_3                                float16
 36   APARTMENTS_AVG                              float16
 37   BASEMENTAREA_AVG                            float16
 38   YEARS_BEGINEXPLUATATION_AVG                 float16
 39   YEARS_BUILD_AVG                             float16
 40   COMMONAREA_AVG                              float16
 41   ELEVATORS_AVG                               float16
 42   ENTRANCES_AVG                               float16
 43   FLOORSMAX_AVG                               float16
 44   FLOORSMIN_AVG                               float16
 45   LANDAREA_AVG                                float16
 46   LIVINGAPARTMENTS_AVG                        float16
 47   LIVINGAREA_AVG                              float16
 48   NONLIVINGAPARTMENTS_AVG                     float16
 49   NONLIVINGAREA_AVG                           float16
 50   OBS_30_CNT_SOCIAL_CIRCLE                    float16
 51   DEF_30_CNT_SOCIAL_CIRCLE                    float16
 52   OBS_60_CNT_SOCIAL_CIRCLE                    float16
 53   DEF_60_CNT_SOCIAL_CIRCLE                    float16
 54   DAYS_LAST_PHONE_CHANGE                      float16
 55   FLAG_DOCUMENT_2                             int8
 56   FLAG_DOCUMENT_3                             int8
 57   FLAG_DOCUMENT_4                             int8
 58   FLAG_DOCUMENT_5                             int8
 59   FLAG_DOCUMENT_6                             int8
 60   FLAG_DOCUMENT_7                             int8
 61   FLAG_DOCUMENT_8                             int8
 62   FLAG_DOCUMENT_9                             int8
 63   FLAG_DOCUMENT_10                            int8
 64   FLAG_DOCUMENT_11                            int8
 65   FLAG_DOCUMENT_12                            int8
 66   FLAG_DOCUMENT_13                            int8
 67   FLAG_DOCUMENT_14                            int8
 68   FLAG_DOCUMENT_15                            int8
 69   FLAG_DOCUMENT_16                            int8
 70   FLAG_DOCUMENT_17                            int8
 71   FLAG_DOCUMENT_18                            int8
 72   FLAG_DOCUMENT_19                            int8
 73   FLAG_DOCUMENT_20                            int8
 74   FLAG_DOCUMENT_21                            int8
 75   AMT_REQ_CREDIT_BUREAU_HOUR                  float16
 76   AMT_REQ_CREDIT_BUREAU_DAY                   float16
 77   AMT_REQ_CREDIT_BUREAU_WEEK                  float16
 78   AMT_REQ_CREDIT_BUREAU_MON                   float16
 79   AMT_REQ_CREDIT_BUREAU_QRT                   float16
 80   AMT_REQ_CREDIT_BUREAU_YEAR                  float16
 81   DEBT_TO_INCOME                              float32
 82   ANNUITY_TO_INCOME                           float32
 83   AGE                                         Int64
 84   TENURE                                      Int64
 85   FAM_ADULT_MEMBERS                           float16
 86   CHILDREN_PER_FAM_MEMBERS                    float16
 87   NUM_DOCUMENTS                               int64
 88   EXT_SOURCE_MEAN                             float16
 89   BUR_SK_ID_BUREAU_COUNT                      float64
 90   BUR_DAYS_CREDIT_MIN                         float64
 91   BUR_DAYS_CREDIT_MAX                         float64
 92   BUR_DAYS_CREDIT_MEAN                        float64
 93   BUR_DAYS_CREDIT_ENDDATE_MIN                 float16
 94   BUR_DAYS_CREDIT_ENDDATE_MAX                 float16
 95   BUR_DAYS_CREDIT_ENDDATE_MEAN                float32
 96   BUR_DAYS_ENDDATE_FACT_MIN                   float16
 97   BUR_DAYS_ENDDATE_FACT_MAX                   float16
 98   BUR_DAYS_ENDDATE_FACT_MEAN                  float32
 99   BUR_DAYS_CREDIT_UPDATE_MIN                  float64
 100  BUR_DAYS_CREDIT_UPDATE_MAX                  float64
 101  BUR_DAYS_CREDIT_UPDATE_MEAN                 float64
 102  BUR_DAYS_DURATION_CREDIT_MIN                float32
 103  BUR_DAYS_DURATION_CREDIT_MAX                float32
 104  BUR_DAYS_DURATION_CREDIT_MEAN               float32
 105  BUR_CREDIT_DAY_OVERDUE_MAX                  float64
 106  BUR_CREDIT_DAY_OVERDUE_MEAN                 float64
 107  BUR_CREDIT_DAY_OVERDUE_SUM                  float64
 108  BUR_AMT_CREDIT_MAX_OVERDUE_MAX              float32
 109  BUR_AMT_CREDIT_MAX_OVERDUE_MEAN             float32
 110  BUR_AMT_CREDIT_SUM_MAX                      float32
 111  BUR_AMT_CREDIT_SUM_MEAN                     float32
 112  BUR_AMT_CREDIT_SUM_SUM                      float32
 113  BUR_AMT_CREDIT_SUM_DEBT_MAX                 float32
 114  BUR_AMT_CREDIT_SUM_DEBT_MEAN                float32
 115  BUR_AMT_CREDIT_SUM_DEBT_SUM                 float32
 116  BUR_AMT_CREDIT_SUM_LIMIT_MAX                float32
 117  BUR_AMT_CREDIT_SUM_LIMIT_MEAN               float32
 118  BUR_AMT_CREDIT_SUM_LIMIT_SUM                float32
 119  BUR_AMT_CREDIT_SUM_OVERDUE_MAX              float32
 120  BUR_AMT_CREDIT_SUM_OVERDUE_MEAN             float32
 121  BUR_AMT_CREDIT_SUM_OVERDUE_SUM              float32
 122  BUR_AMT_ANNUITY_MAX                         float32
 123  BUR_AMT_ANNUITY_MEAN                        float32
 124  BUR_AMT_ANNUITY_SUM                         float32
 125  BUR_CNT_CREDIT_PROLONG_MAX                  float64
 126  BUR_CNT_CREDIT_PROLONG_SUM                  float64
 127  BUR_MONTHS_BALANCE_MIN                      float64
 128  BUR_MONTHS_BALANCE_MAX                      float64
 129  BUR_MONTHS_BALANCE_MEAN                     float64
 130  INST_NUM_INSTALMENT_VERSION_NUNIQUE         float64
 131  INST_NUM_INSTALMENT_VERSION_MEAN            float32
 132  INST_NUM_INSTALMENT_NUMBER_MIN              float64
 133  INST_NUM_INSTALMENT_NUMBER_MAX              float64
 134  INST_NUM_INSTALMENT_NUMBER_MEAN             float64
 135  INST_NUM_INSTALMENT_NUMBER_SUM              float64
 136  INST_DAYS_LATE_MEAN                         float32
 137  INST_DAYS_LATE_MAX                          float16
 138  INST_DAYS_LATE_SUM                          float32
 139  INST_DAYS_LATE_COUNT                        float64
 140  INST_FLAG_LATE_PAYMENT_MEAN                 float64
 141  INST_FLAG_LATE_PAYMENT_SUM                  float64
 142  INST_PAYMENT_RATIO_MEAN                     float32
 143  INST_PAYMENT_RATIO_MIN                      float32
 144  INST_PAYMENT_DIFF_MEAN                      float32
 145  INST_PAYMENT_DIFF_MAX                       float32
 146  INST_PAYMENT_DIFF_SUM                       float32
 147  INST_FLAG_UNDERPAYMENT_MEAN                 float64
 148  INST_FLAG_UNDERPAYMENT_SUM                  float64
 149  INST_AMT_INSTALMENT_MEAN                    float32
 150  INST_AMT_INSTALMENT_MAX                     float32
 151  INST_AMT_INSTALMENT_SUM                     float32
 152  INST_AMT_PAYMENT_MEAN                       float32
 153  INST_AMT_PAYMENT_MAX                        float32
 154  INST_AMT_PAYMENT_SUM                        float32
 155  INST_MONTH_INSTALMENT_MIN                   float16
 156  INST_MONTH_INSTALMENT_MAX                   float16
 157  INST_MONTH_ENTRY_PAYMENT_MIN                float16
 158  INST_MONTH_ENTRY_PAYMENT_MAX                float16
 159  INST_YEAR_INSTALLMENT_MIN                   float16
 160  INST_YEAR_INSTALLMENT_MAX                   float16
 161  INST_YEAR_ENTRY_PAYMENT_MIN                 float16
 162  INST_YEAR_ENTRY_PAYMENT_MAX                 float16
 163  CCB_SK_ID_CURR_                             float64
 164  CCB_MONTHS_BALANCE_COUNT                    float64
 165  CCB_AMT_BALANCE_MIN                         float32
 166  CCB_AMT_BALANCE_MAX                         float32
 167  CCB_AMT_BALANCE_MEAN                        float32
 168  CCB_AMT_BALANCE_SUM                         float32
 169  CCB_AMT_CREDIT_LIMIT_ACTUAL_MIN             float64
 170  CCB_AMT_CREDIT_LIMIT_ACTUAL_MAX             float64
 171  CCB_AMT_CREDIT_LIMIT_ACTUAL_MEAN            float64
 172  CCB_AMT_CREDIT_LIMIT_ACTUAL_SUM             float64
 173  CCB_AMT_DRAWINGS_ATM_CURRENT_MIN            float32
 174  CCB_AMT_DRAWINGS_ATM_CURRENT_MAX            float32
 175  CCB_AMT_DRAWINGS_ATM_CURRENT_MEAN           float32
 176  CCB_AMT_DRAWINGS_ATM_CURRENT_SUM            float32
 177  CCB_AMT_DRAWINGS_CURRENT_MIN                float32
 178  CCB_AMT_DRAWINGS_CURRENT_MAX                float32
 179  CCB_AMT_DRAWINGS_CURRENT_MEAN               float32
 180  CCB_AMT_DRAWINGS_CURRENT_SUM                float32
 181  CCB_AMT_DRAWINGS_OTHER_CURRENT_MIN          float32
 182  CCB_AMT_DRAWINGS_OTHER_CURRENT_MAX          float32
 183  CCB_AMT_DRAWINGS_OTHER_CURRENT_MEAN         float32
 184  CCB_AMT_DRAWINGS_OTHER_CURRENT_SUM          float32
 185  CCB_AMT_INST_MIN_REGULARITY_MIN             float32
 186  CCB_AMT_INST_MIN_REGULARITY_MAX             float32
 187  CCB_AMT_INST_MIN_REGULARITY_MEAN            float32
 188  CCB_AMT_INST_MIN_REGULARITY_SUM             float32
 189  CCB_AMT_PAYMENT_TOTAL_CURRENT_MIN           float32
 190  CCB_AMT_PAYMENT_TOTAL_CURRENT_MAX           float32
 191  CCB_AMT_PAYMENT_TOTAL_CURRENT_MEAN          float32
 192  CCB_AMT_PAYMENT_TOTAL_CURRENT_SUM           float32
 193  CCB_AMT_RECEIVABLE_PRINCIPAL_MIN            float32
 194  CCB_AMT_RECEIVABLE_PRINCIPAL_MAX            float32
 195  CCB_AMT_RECEIVABLE_PRINCIPAL_MEAN           float32
 196  CCB_AMT_RECEIVABLE_PRINCIPAL_SUM            float32
 197  CCB_AMT_RECIVABLE_MIN                       float32
 198  CCB_AMT_RECIVABLE_MAX                       float32
 199  CCB_AMT_RECIVABLE_MEAN                      float32
 200  CCB_AMT_RECIVABLE_SUM                       float32
 201  CCB_AMT_TOTAL_RECEIVABLE_MIN                float32
 202  CCB_AMT_TOTAL_RECEIVABLE_MAX                float32
 203  CCB_AMT_TOTAL_RECEIVABLE_MEAN               float32
 204  CCB_AMT_TOTAL_RECEIVABLE_SUM                float32
 205  CCB_CNT_DRAWINGS_ATM_CURRENT_MIN            float16
 206  CCB_CNT_DRAWINGS_ATM_CURRENT_MAX            float16
 207  CCB_CNT_DRAWINGS_ATM_CURRENT_MEAN           float32
 208  CCB_CNT_DRAWINGS_ATM_CURRENT_SUM            float16
 209  CCB_AMT_DRAWINGS_POS_CURRENT_MIN            float32
 210  CCB_AMT_DRAWINGS_POS_CURRENT_MAX            float32
 211  CCB_AMT_DRAWINGS_POS_CURRENT_MEAN           float32
 212  CCB_AMT_DRAWINGS_POS_CURRENT_SUM            float32
 213  CCB_AMT_PAYMENT_CURRENT_MIN                 float32
 214  CCB_AMT_PAYMENT_CURRENT_MAX                 float32
 215  CCB_AMT_PAYMENT_CURRENT_MEAN                float32
 216  CCB_AMT_PAYMENT_CURRENT_SUM                 float32
 217  CCB_CNT_DRAWINGS_OTHER_CURRENT_MIN          float16
 218  CCB_CNT_DRAWINGS_OTHER_CURRENT_MAX          float16
 219  CCB_CNT_DRAWINGS_OTHER_CURRENT_MEAN         float32
 220  CCB_CNT_DRAWINGS_OTHER_CURRENT_SUM          float16
 221  CCB_CNT_DRAWINGS_CURRENT_MIN                float64
 222  CCB_CNT_DRAWINGS_CURRENT_MAX                float64
 223  CCB_CNT_DRAWINGS_CURRENT_MEAN               float64
 224  CCB_CNT_DRAWINGS_CURRENT_SUM                float64
 225  CCB_CNT_DRAWINGS_POS_CURRENT_MIN            float16
 226  CCB_CNT_DRAWINGS_POS_CURRENT_MAX            float16
 227  CCB_CNT_DRAWINGS_POS_CURRENT_MEAN           float32
 228  CCB_CNT_DRAWINGS_POS_CURRENT_SUM            float16
 229  CCB_CNT_INSTALMENT_MATURE_CUM_MIN           float16
 230  CCB_CNT_INSTALMENT_MATURE_CUM_MAX           float16
 231  CCB_CNT_INSTALMENT_MATURE_CUM_MEAN          float32
 232  CCB_CNT_INSTALMENT_MATURE_CUM_SUM           float32
 233  CCB_SK_DPD_MIN                              float64
 234  CCB_SK_DPD_MAX                              float64
 235  CCB_SK_DPD_MEAN                             float64
 236  CCB_SK_DPD_SUM                              float64
 237  CCB_SK_DPD_DEF_MIN                          float64
 238  CCB_SK_DPD_DEF_MAX                          float64
 239  CCB_SK_DPD_DEF_MEAN                         float64
 240  CCB_SK_DPD_DEF_SUM                          float64
 241  CCB_TOTAL_DRAWINGS_MIN                      float32
 242  CCB_TOTAL_DRAWINGS_MAX                      float32
 243  CCB_TOTAL_DRAWINGS_MEAN                     float32
 244  CCB_TOTAL_DRAWINGS_SUM                      float32
 245  CCB_TOTAL_DRAWINGS_COUNT_MIN                float32
 246  CCB_TOTAL_DRAWINGS_COUNT_MAX                float32
 247  CCB_TOTAL_DRAWINGS_COUNT_MEAN               float32
 248  CCB_TOTAL_DRAWINGS_COUNT_SUM                float32
 249  CCB_AVG_DRAWING_MIN                         float32
 250  CCB_AVG_DRAWING_MAX                         float32
 251  CCB_AVG_DRAWING_MEAN                        float32
 252  CCB_AVG_DRAWING_SUM                         float32
 253  CCB_DRAWINGS_ATM_PERCENTAGE_MIN             float32
 254  CCB_DRAWINGS_ATM_PERCENTAGE_MAX             float32
 255  CCB_DRAWINGS_ATM_PERCENTAGE_MEAN            float32
 256  CCB_DRAWINGS_ATM_PERCENTAGE_SUM             float32
 257  CCB_DRAWINGS_POS_PERCENTAGE_MIN             float32
 258  CCB_DRAWINGS_POS_PERCENTAGE_MAX             float32
 259  CCB_DRAWINGS_POS_PERCENTAGE_MEAN            float32
 260  CCB_DRAWINGS_POS_PERCENTAGE_SUM             float32
 261  CCB_DRAWINGS_OTHER_PERCENTAGE_MIN           float32
 262  CCB_DRAWINGS_OTHER_PERCENTAGE_MAX           float32
 263  CCB_DRAWINGS_OTHER_PERCENTAGE_MEAN          float32
 264  CCB_DRAWINGS_OTHER_PERCENTAGE_SUM           float32
 265  CCB_FLAG_LATE_PAYMENT_MEAN                  float64
 266  CCB_LIMIT_RATIO_MEAN                        float64
 267  POS_SK_ID_PREV_NUNIQUE                      float64
 268  POS_MONTHS_BALANCE_MIN                      float64
 269  POS_MONTHS_BALANCE_MAX                      float64
 270  POS_MONTHS_BALANCE_MEAN                     float64
 271  POS_MONTHS_BALANCE_SIZE                     float64
 272  POS_CNT_INSTALMENT_MIN                      float16
 273  POS_CNT_INSTALMENT_MAX                      float16
 274  POS_CNT_INSTALMENT_MEAN                     float32
 275  POS_CNT_INSTALMENT_SUM                      float32
 276  POS_CNT_INSTALMENT_FUTURE_MIN               float16
 277  POS_CNT_INSTALMENT_FUTURE_MAX               float16
 278  POS_CNT_INSTALMENT_FUTURE_MEAN              float32
 279  POS_CNT_INSTALMENT_FUTURE_SUM               float32
 280  POS_SK_DPD_MAX                              float64
 281  POS_SK_DPD_MEAN                             float64
 282  POS_SK_DPD_SUM                              float64
 283  POS_SK_DPD_DEF_MAX                          float64
 284  POS_SK_DPD_DEF_MEAN                         float64
 285  POS_SK_DPD_DEF_SUM                          float64
 286  PREV_SK_ID_PREV_NUNIQUE                     float64
 287  PREV_AMT_ANNUITY_MIN                        float32
 288  PREV_AMT_ANNUITY_MAX                        float32
 289  PREV_AMT_ANNUITY_MEAN                       float32
 290  PREV_AMT_ANNUITY_SUM                        float32
 291  PREV_AMT_APPLICATION_MIN                    float32
 292  PREV_AMT_APPLICATION_MAX                    float32
 293  PREV_AMT_APPLICATION_MEAN                   float32
 294  PREV_AMT_APPLICATION_SUM                    float32
 295  PREV_AMT_CREDIT_MIN                         float32
 296  PREV_AMT_CREDIT_MAX                         float32
 297  PREV_AMT_CREDIT_MEAN                        float32
 298  PREV_AMT_CREDIT_SUM                         float32
 299  PREV_AMT_DOWN_PAYMENT_MIN                   float32
 300  PREV_AMT_DOWN_PAYMENT_MAX                   float32
 301  PREV_AMT_DOWN_PAYMENT_MEAN                  float32
 302  PREV_AMT_DOWN_PAYMENT_SUM                   float32
 303  PREV_AMT_GOODS_PRICE_MIN                    float32
 304  PREV_AMT_GOODS_PRICE_MAX                    float32
 305  PREV_AMT_GOODS_PRICE_MEAN                   float32
 306  PREV_AMT_GOODS_PRICE_SUM                    float32
 307  PREV_WEEKDAY_APPR_PROCESS_START_NUNIQUE     float64
 308  PREV_WEEKDAY_APPR_PROCESS_START_<LAMBDA_0>  float64
 309  PREV_HOUR_APPR_PROCESS_START_NUNIQUE        float64
 310  PREV_HOUR_APPR_PROCESS_START_<LAMBDA_0>     float64
 311  PREV_FLAG_LAST_APPL_PER_CONTRACT_MEAN       float64
 312  PREV_FLAG_LAST_APPL_PER_CONTRACT_SUM        float64
 313  PREV_NFLAG_LAST_APPL_IN_DAY_MEAN            float64
 314  PREV_NFLAG_LAST_APPL_IN_DAY_SUM             float64
 315  PREV_NFLAG_INSURED_ON_APPROVAL_MEAN         float32
 316  PREV_NFLAG_INSURED_ON_APPROVAL_SUM          float16
 317  PREV_RATE_DOWN_PAYMENT_MIN                  float16
 318  PREV_RATE_DOWN_PAYMENT_MAX                  float16
 319  PREV_RATE_DOWN_PAYMENT_MEAN                 float32
 320  PREV_CNT_PAYMENT_MIN                        float16
 321  PREV_CNT_PAYMENT_MAX                        float16
 322  PREV_CNT_PAYMENT_MEAN                       float32
 323  PREV_CNT_PAYMENT_SUM                        float16
 324  PREV_DAYS_DECISION_MIN                      float64
 325  PREV_DAYS_DECISION_MAX                      float64
 326  PREV_DAYS_DECISION_MEAN                     float64
 327  PREV_DAYS_FIRST_DRAWING_MIN                 float32
 328  PREV_DAYS_FIRST_DRAWING_MAX                 float32
 329  PREV_DAYS_FIRST_DRAWING_MEAN                float32
 330  PREV_DAYS_FIRST_DUE_MIN                     float32
 331  PREV_DAYS_FIRST_DUE_MAX                     float32
 332  PREV_DAYS_FIRST_DUE_MEAN                    float32
 333  PREV_DAYS_LAST_DUE_MIN                      float32
 334  PREV_DAYS_LAST_DUE_MAX                      float32
 335  PREV_DAYS_LAST_DUE_MEAN                     float32
 336  PREV_DAYS_TERMINATION_MIN                   float32
 337  PREV_DAYS_TERMINATION_MAX                   float32
 338  PREV_DAYS_TERMINATION_MEAN                  float32
 339  PREV_SELLERPLACE_AREA_NUNIQUE               float64
 340  PREV_SELLERPLACE_AREA_MEAN                  float64
 341  PREV_NAME_YIELD_GROUP_NUNIQUE               float64

In [147]:
merge_test_final.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48744 entries, 0 to 48743
Data columns (total 341 columns):
 #    Column                                      Dtype
---   ------                                      -----
 0    SK_ID_CURR                                  int32
 1    FLAG_OWN_CAR                                int64
 2    FLAG_OWN_REALTY                             int64
 3    CNT_CHILDREN                                int8
 4    AMT_INCOME_TOTAL                            float32
 5    AMT_CREDIT                                  float32
 6    AMT_ANNUITY                                 float32
 7    AMT_GOODS_PRICE                             float32
 8    NAME_EDUCATION_TYPE                         int64
 9    REGION_POPULATION_RELATIVE                  float16
 10   DAYS_BIRTH                                  int16
 11   DAYS_EMPLOYED                               int32
 12   DAYS_REGISTRATION                           float16
 13   DAYS_ID_PUBLISH                             int16
 14   OWN_CAR_AGE                                 float16
 15   FLAG_MOBIL                                  int8
 16   FLAG_EMP_PHONE                              int8
 17   FLAG_WORK_PHONE                             int8
 18   FLAG_CONT_MOBILE                            int8
 19   FLAG_PHONE                                  int8
 20   FLAG_EMAIL                                  int8
 21   CNT_FAM_MEMBERS                             float16
 22   REGION_RATING_CLIENT                        int8
 23   REGION_RATING_CLIENT_W_CITY                 int8
 24   WEEKDAY_APPR_PROCESS_START                  int64
 25   HOUR_APPR_PROCESS_START                     int8
 26   REG_REGION_NOT_LIVE_REGION                  int8
 27   REG_REGION_NOT_WORK_REGION                  int8
 28   LIVE_REGION_NOT_WORK_REGION                 int8
 29   REG_CITY_NOT_LIVE_CITY                      int8
 30   REG_CITY_NOT_WORK_CITY                      int8
 31   LIVE_CITY_NOT_WORK_CITY                     int8
 32   EXT_SOURCE_1                                float16
 33   EXT_SOURCE_2                                float16
 34   EXT_SOURCE_3                                float16
 35   APARTMENTS_AVG                              float16
 36   BASEMENTAREA_AVG                            float16
 37   YEARS_BEGINEXPLUATATION_AVG                 float16
 38   YEARS_BUILD_AVG                             float16
 39   COMMONAREA_AVG                              float16
 40   ELEVATORS_AVG                               float16
 41   ENTRANCES_AVG                               float16
 42   FLOORSMAX_AVG                               float16
 43   FLOORSMIN_AVG                               float16
 44   LANDAREA_AVG                                float16
 45   LIVINGAPARTMENTS_AVG                        float16
 46   LIVINGAREA_AVG                              float16
 47   NONLIVINGAPARTMENTS_AVG                     float16
 48   NONLIVINGAREA_AVG                           float16
 49   OBS_30_CNT_SOCIAL_CIRCLE                    float16
 50   DEF_30_CNT_SOCIAL_CIRCLE                    float16
 51   OBS_60_CNT_SOCIAL_CIRCLE                    float16
 52   DEF_60_CNT_SOCIAL_CIRCLE                    float16
 53   DAYS_LAST_PHONE_CHANGE                      float16
 54   FLAG_DOCUMENT_2                             int8
 55   FLAG_DOCUMENT_3                             int8
 56   FLAG_DOCUMENT_4                             int8
 57   FLAG_DOCUMENT_5                             int8
 58   FLAG_DOCUMENT_6                             int8
 59   FLAG_DOCUMENT_7                             int8
 60   FLAG_DOCUMENT_8                             int8
 61   FLAG_DOCUMENT_9                             int8
 62   FLAG_DOCUMENT_10                            int8
 63   FLAG_DOCUMENT_11                            int8
 64   FLAG_DOCUMENT_12                            int8
 65   FLAG_DOCUMENT_13                            int8
 66   FLAG_DOCUMENT_14                            int8
 67   FLAG_DOCUMENT_15                            int8
 68   FLAG_DOCUMENT_16                            int8
 69   FLAG_DOCUMENT_17                            int8
 70   FLAG_DOCUMENT_18                            int8
 71   FLAG_DOCUMENT_19                            int8
 72   FLAG_DOCUMENT_20                            int8
 73   FLAG_DOCUMENT_21                            int8
 74   AMT_REQ_CREDIT_BUREAU_HOUR                  float16
 75   AMT_REQ_CREDIT_BUREAU_DAY                   float16
 76   AMT_REQ_CREDIT_BUREAU_WEEK                  float16
 77   AMT_REQ_CREDIT_BUREAU_MON                   float16
 78   AMT_REQ_CREDIT_BUREAU_QRT                   float16
 79   AMT_REQ_CREDIT_BUREAU_YEAR                  float16
 80   DEBT_TO_INCOME                              float32
 81   ANNUITY_TO_INCOME                           float32
 82   AGE                                         Int64
 83   TENURE                                      Int64
 84   FAM_ADULT_MEMBERS                           float16
 85   CHILDREN_PER_FAM_MEMBERS                    float16
 86   NUM_DOCUMENTS                               int64
 87   EXT_SOURCE_MEAN                             float16
 88   BUR_SK_ID_BUREAU_COUNT                      float64
 89   BUR_DAYS_CREDIT_MIN                         float64
 90   BUR_DAYS_CREDIT_MAX                         float64
 91   BUR_DAYS_CREDIT_MEAN                        float64
 92   BUR_DAYS_CREDIT_ENDDATE_MIN                 float16
 93   BUR_DAYS_CREDIT_ENDDATE_MAX                 float16
 94   BUR_DAYS_CREDIT_ENDDATE_MEAN                float32
 95   BUR_DAYS_ENDDATE_FACT_MIN                   float16
 96   BUR_DAYS_ENDDATE_FACT_MAX                   float16
 97   BUR_DAYS_ENDDATE_FACT_MEAN                  float32
 98   BUR_DAYS_CREDIT_UPDATE_MIN                  float64
 99   BUR_DAYS_CREDIT_UPDATE_MAX                  float64
 100  BUR_DAYS_CREDIT_UPDATE_MEAN                 float64
 101  BUR_DAYS_DURATION_CREDIT_MIN                float32
 102  BUR_DAYS_DURATION_CREDIT_MAX                float32
 103  BUR_DAYS_DURATION_CREDIT_MEAN               float32
 104  BUR_CREDIT_DAY_OVERDUE_MAX                  float64
 105  BUR_CREDIT_DAY_OVERDUE_MEAN                 float64
 106  BUR_CREDIT_DAY_OVERDUE_SUM                  float64
 107  BUR_AMT_CREDIT_MAX_OVERDUE_MAX              float32
 108  BUR_AMT_CREDIT_MAX_OVERDUE_MEAN             float32
 109  BUR_AMT_CREDIT_SUM_MAX                      float32
 110  BUR_AMT_CREDIT_SUM_MEAN                     float32
 111  BUR_AMT_CREDIT_SUM_SUM                      float32
 112  BUR_AMT_CREDIT_SUM_DEBT_MAX                 float32
 113  BUR_AMT_CREDIT_SUM_DEBT_MEAN                float32
 114  BUR_AMT_CREDIT_SUM_DEBT_SUM                 float32
 115  BUR_AMT_CREDIT_SUM_LIMIT_MAX                float32
 116  BUR_AMT_CREDIT_SUM_LIMIT_MEAN               float32
 117  BUR_AMT_CREDIT_SUM_LIMIT_SUM                float32
 118  BUR_AMT_CREDIT_SUM_OVERDUE_MAX              float32
 119  BUR_AMT_CREDIT_SUM_OVERDUE_MEAN             float32
 120  BUR_AMT_CREDIT_SUM_OVERDUE_SUM              float32
 121  BUR_AMT_ANNUITY_MAX                         float32
 122  BUR_AMT_ANNUITY_MEAN                        float32
 123  BUR_AMT_ANNUITY_SUM                         float32
 124  BUR_CNT_CREDIT_PROLONG_MAX                  float64
 125  BUR_CNT_CREDIT_PROLONG_SUM                  float64
 126  BUR_MONTHS_BALANCE_MIN                      float64
 127  BUR_MONTHS_BALANCE_MAX                      float64
 128  BUR_MONTHS_BALANCE_MEAN                     float64
 129  INST_NUM_INSTALMENT_VERSION_NUNIQUE         float64
 130  INST_NUM_INSTALMENT_VERSION_MEAN            float32
 131  INST_NUM_INSTALMENT_NUMBER_MIN              float64
 132  INST_NUM_INSTALMENT_NUMBER_MAX              float64
 133  INST_NUM_INSTALMENT_NUMBER_MEAN             float64
 134  INST_NUM_INSTALMENT_NUMBER_SUM              float64
 135  INST_DAYS_LATE_MEAN                         float32
 136  INST_DAYS_LATE_MAX                          float16
 137  INST_DAYS_LATE_SUM                          float32
 138  INST_DAYS_LATE_COUNT                        float64
 139  INST_FLAG_LATE_PAYMENT_MEAN                 float64
 140  INST_FLAG_LATE_PAYMENT_SUM                  float64
 141  INST_PAYMENT_RATIO_MEAN                     float32
 142  INST_PAYMENT_RATIO_MIN                      float32
 143  INST_PAYMENT_DIFF_MEAN                      float32
 144  INST_PAYMENT_DIFF_MAX                       float32
 145  INST_PAYMENT_DIFF_SUM                       float32
 146  INST_FLAG_UNDERPAYMENT_MEAN                 float64
 147  INST_FLAG_UNDERPAYMENT_SUM                  float64
 148  INST_AMT_INSTALMENT_MEAN                    float32
 149  INST_AMT_INSTALMENT_MAX                     float32
 150  INST_AMT_INSTALMENT_SUM                     float32
 151  INST_AMT_PAYMENT_MEAN                       float32
 152  INST_AMT_PAYMENT_MAX                        float32
 153  INST_AMT_PAYMENT_SUM                        float32
 154  INST_MONTH_INSTALMENT_MIN                   float16
 155  INST_MONTH_INSTALMENT_MAX                   float16
 156  INST_MONTH_ENTRY_PAYMENT_MIN                float16
 157  INST_MONTH_ENTRY_PAYMENT_MAX                float16
 158  INST_YEAR_INSTALLMENT_MIN                   float16
 159  INST_YEAR_INSTALLMENT_MAX                   float16
 160  INST_YEAR_ENTRY_PAYMENT_MIN                 float16
 161  INST_YEAR_ENTRY_PAYMENT_MAX                 float16
 162  CCB_SK_ID_CURR_                             float64
 163  CCB_MONTHS_BALANCE_COUNT                    float64
 164  CCB_AMT_BALANCE_MIN                         float32
 165  CCB_AMT_BALANCE_MAX                         float32
 166  CCB_AMT_BALANCE_MEAN                        float32
 167  CCB_AMT_BALANCE_SUM                         float32
 168  CCB_AMT_CREDIT_LIMIT_ACTUAL_MIN             float64
 169  CCB_AMT_CREDIT_LIMIT_ACTUAL_MAX             float64
 170  CCB_AMT_CREDIT_LIMIT_ACTUAL_MEAN            float64
 171  CCB_AMT_CREDIT_LIMIT_ACTUAL_SUM             float64
 172  CCB_AMT_DRAWINGS_ATM_CURRENT_MIN            float32
 173  CCB_AMT_DRAWINGS_ATM_CURRENT_MAX            float32
 174  CCB_AMT_DRAWINGS_ATM_CURRENT_MEAN           float32
 175  CCB_AMT_DRAWINGS_ATM_CURRENT_SUM            float32
 176  CCB_AMT_DRAWINGS_CURRENT_MIN                float32
 177  CCB_AMT_DRAWINGS_CURRENT_MAX                float32
 178  CCB_AMT_DRAWINGS_CURRENT_MEAN               float32
 179  CCB_AMT_DRAWINGS_CURRENT_SUM                float32
 180  CCB_AMT_DRAWINGS_OTHER_CURRENT_MIN          float32
 181  CCB_AMT_DRAWINGS_OTHER_CURRENT_MAX          float32
 182  CCB_AMT_DRAWINGS_OTHER_CURRENT_MEAN         float32
 183  CCB_AMT_DRAWINGS_OTHER_CURRENT_SUM          float32
 184  CCB_AMT_INST_MIN_REGULARITY_MIN             float32
 185  CCB_AMT_INST_MIN_REGULARITY_MAX             float32
 186  CCB_AMT_INST_MIN_REGULARITY_MEAN            float32
 187  CCB_AMT_INST_MIN_REGULARITY_SUM             float32
 188  CCB_AMT_PAYMENT_TOTAL_CURRENT_MIN           float32
 189  CCB_AMT_PAYMENT_TOTAL_CURRENT_MAX           float32
 190  CCB_AMT_PAYMENT_TOTAL_CURRENT_MEAN          float32
 191  CCB_AMT_PAYMENT_TOTAL_CURRENT_SUM           float32
 192  CCB_AMT_RECEIVABLE_PRINCIPAL_MIN            float32
 193  CCB_AMT_RECEIVABLE_PRINCIPAL_MAX            float32
 194  CCB_AMT_RECEIVABLE_PRINCIPAL_MEAN           float32
 195  CCB_AMT_RECEIVABLE_PRINCIPAL_SUM            float32
 196  CCB_AMT_RECIVABLE_MIN                       float32
 197  CCB_AMT_RECIVABLE_MAX                       float32
 198  CCB_AMT_RECIVABLE_MEAN                      float32
 199  CCB_AMT_RECIVABLE_SUM                       float32
 200  CCB_AMT_TOTAL_RECEIVABLE_MIN                float32
 201  CCB_AMT_TOTAL_RECEIVABLE_MAX                float32
 202  CCB_AMT_TOTAL_RECEIVABLE_MEAN               float32
 203  CCB_AMT_TOTAL_RECEIVABLE_SUM                float32
 204  CCB_CNT_DRAWINGS_ATM_CURRENT_MIN            float16
 205  CCB_CNT_DRAWINGS_ATM_CURRENT_MAX            float16
 206  CCB_CNT_DRAWINGS_ATM_CURRENT_MEAN           float32
 207  CCB_CNT_DRAWINGS_ATM_CURRENT_SUM            float16
 208  CCB_AMT_DRAWINGS_POS_CURRENT_MIN            float32
 209  CCB_AMT_DRAWINGS_POS_CURRENT_MAX            float32
 210  CCB_AMT_DRAWINGS_POS_CURRENT_MEAN           float32
 211  CCB_AMT_DRAWINGS_POS_CURRENT_SUM            float32
 212  CCB_AMT_PAYMENT_CURRENT_MIN                 float32
 213  CCB_AMT_PAYMENT_CURRENT_MAX                 float32
 214  CCB_AMT_PAYMENT_CURRENT_MEAN                float32
 215  CCB_AMT_PAYMENT_CURRENT_SUM                 float32
 216  CCB_CNT_DRAWINGS_OTHER_CURRENT_MIN          float16
 217  CCB_CNT_DRAWINGS_OTHER_CURRENT_MAX          float16
 218  CCB_CNT_DRAWINGS_OTHER_CURRENT_MEAN         float32
 219  CCB_CNT_DRAWINGS_OTHER_CURRENT_SUM          float16
 220  CCB_CNT_DRAWINGS_CURRENT_MIN                float64
 221  CCB_CNT_DRAWINGS_CURRENT_MAX                float64
 222  CCB_CNT_DRAWINGS_CURRENT_MEAN               float64
 223  CCB_CNT_DRAWINGS_CURRENT_SUM                float64
 224  CCB_CNT_DRAWINGS_POS_CURRENT_MIN            float16
 225  CCB_CNT_DRAWINGS_POS_CURRENT_MAX            float16
 226  CCB_CNT_DRAWINGS_POS_CURRENT_MEAN           float32
 227  CCB_CNT_DRAWINGS_POS_CURRENT_SUM            float16
 228  CCB_CNT_INSTALMENT_MATURE_CUM_MIN           float16
 229  CCB_CNT_INSTALMENT_MATURE_CUM_MAX           float16
 230  CCB_CNT_INSTALMENT_MATURE_CUM_MEAN          float32
 231  CCB_CNT_INSTALMENT_MATURE_CUM_SUM           float32
 232  CCB_SK_DPD_MIN                              float64
 233  CCB_SK_DPD_MAX                              float64
 234  CCB_SK_DPD_MEAN                             float64
 235  CCB_SK_DPD_SUM                              float64
 236  CCB_SK_DPD_DEF_MIN                          float64
 237  CCB_SK_DPD_DEF_MAX                          float64
 238  CCB_SK_DPD_DEF_MEAN                         float64
 239  CCB_SK_DPD_DEF_SUM                          float64
 240  CCB_TOTAL_DRAWINGS_MIN                      float32
 241  CCB_TOTAL_DRAWINGS_MAX                      float32
 242  CCB_TOTAL_DRAWINGS_MEAN                     float32
 243  CCB_TOTAL_DRAWINGS_SUM                      float32
 244  CCB_TOTAL_DRAWINGS_COUNT_MIN                float32
 245  CCB_TOTAL_DRAWINGS_COUNT_MAX                float32
 246  CCB_TOTAL_DRAWINGS_COUNT_MEAN               float32
 247  CCB_TOTAL_DRAWINGS_COUNT_SUM                float32
 248  CCB_AVG_DRAWING_MIN                         float32
 249  CCB_AVG_DRAWING_MAX                         float32
 250  CCB_AVG_DRAWING_MEAN                        float32
 251  CCB_AVG_DRAWING_SUM                         float32
 252  CCB_DRAWINGS_ATM_PERCENTAGE_MIN             float32
 253  CCB_DRAWINGS_ATM_PERCENTAGE_MAX             float32
 254  CCB_DRAWINGS_ATM_PERCENTAGE_MEAN            float32
 255  CCB_DRAWINGS_ATM_PERCENTAGE_SUM             float32
 256  CCB_DRAWINGS_POS_PERCENTAGE_MIN             float32
 257  CCB_DRAWINGS_POS_PERCENTAGE_MAX             float32
 258  CCB_DRAWINGS_POS_PERCENTAGE_MEAN            float32
 259  CCB_DRAWINGS_POS_PERCENTAGE_SUM             float32
 260  CCB_DRAWINGS_OTHER_PERCENTAGE_MIN           float32
 261  CCB_DRAWINGS_OTHER_PERCENTAGE_MAX           float32
 262  CCB_DRAWINGS_OTHER_PERCENTAGE_MEAN          float32
 263  CCB_DRAWINGS_OTHER_PERCENTAGE_SUM           float32
 264  CCB_FLAG_LATE_PAYMENT_MEAN                  float64
 265  CCB_LIMIT_RATIO_MEAN                        float64
 266  POS_SK_ID_PREV_NUNIQUE                      float64
 267  POS_MONTHS_BALANCE_MIN                      float64
 268  POS_MONTHS_BALANCE_MAX                      float64
 269  POS_MONTHS_BALANCE_MEAN                     float64
 270  POS_MONTHS_BALANCE_SIZE                     float64
 271  POS_CNT_INSTALMENT_MIN                      float16
 272  POS_CNT_INSTALMENT_MAX                      float16
 273  POS_CNT_INSTALMENT_MEAN                     float32
 274  POS_CNT_INSTALMENT_SUM                      float32
 275  POS_CNT_INSTALMENT_FUTURE_MIN               float16
 276  POS_CNT_INSTALMENT_FUTURE_MAX               float16
 277  POS_CNT_INSTALMENT_FUTURE_MEAN              float32
 278  POS_CNT_INSTALMENT_FUTURE_SUM               float32
 279  POS_SK_DPD_MAX                              float64
 280  POS_SK_DPD_MEAN                             float64
 281  POS_SK_DPD_SUM                              float64
 282  POS_SK_DPD_DEF_MAX                          float64
 283  POS_SK_DPD_DEF_MEAN                         float64
 284  POS_SK_DPD_DEF_SUM                          float64
 285  PREV_SK_ID_PREV_NUNIQUE                     float64
 286  PREV_AMT_ANNUITY_MIN                        float32
 287  PREV_AMT_ANNUITY_MAX                        float32
 288  PREV_AMT_ANNUITY_MEAN                       float32
 289  PREV_AMT_ANNUITY_SUM                        float32
 290  PREV_AMT_APPLICATION_MIN                    float32
 291  PREV_AMT_APPLICATION_MAX                    float32
 292  PREV_AMT_APPLICATION_MEAN                   float32
 293  PREV_AMT_APPLICATION_SUM                    float32
 294  PREV_AMT_CREDIT_MIN                         float32
 295  PREV_AMT_CREDIT_MAX                         float32
 296  PREV_AMT_CREDIT_MEAN                        float32
 297  PREV_AMT_CREDIT_SUM                         float32
 298  PREV_AMT_DOWN_PAYMENT_MIN                   float32
 299  PREV_AMT_DOWN_PAYMENT_MAX                   float32
 300  PREV_AMT_DOWN_PAYMENT_MEAN                  float32
 301  PREV_AMT_DOWN_PAYMENT_SUM                   float32
 302  PREV_AMT_GOODS_PRICE_MIN                    float32
 303  PREV_AMT_GOODS_PRICE_MAX                    float32
 304  PREV_AMT_GOODS_PRICE_MEAN                   float32
 305  PREV_AMT_GOODS_PRICE_SUM                    float32
 306  PREV_WEEKDAY_APPR_PROCESS_START_NUNIQUE     float64
 307  PREV_WEEKDAY_APPR_PROCESS_START_<LAMBDA_0>  float64
 308  PREV_HOUR_APPR_PROCESS_START_NUNIQUE        float64
 309  PREV_HOUR_APPR_PROCESS_START_<LAMBDA_0>     float64
 310  PREV_FLAG_LAST_APPL_PER_CONTRACT_MEAN       float64
 311  PREV_FLAG_LAST_APPL_PER_CONTRACT_SUM        float64
 312  PREV_NFLAG_LAST_APPL_IN_DAY_MEAN            float64
 313  PREV_NFLAG_LAST_APPL_IN_DAY_SUM             float64
 314  PREV_NFLAG_INSURED_ON_APPROVAL_MEAN         float32
 315  PREV_NFLAG_INSURED_ON_APPROVAL_SUM          float16
 316  PREV_RATE_DOWN_PAYMENT_MIN                  float16
 317  PREV_RATE_DOWN_PAYMENT_MAX                  float16
 318  PREV_RATE_DOWN_PAYMENT_MEAN                 float32
 319  PREV_CNT_PAYMENT_MIN                        float16
 320  PREV_CNT_PAYMENT_MAX                        float16
 321  PREV_CNT_PAYMENT_MEAN                       float32
 322  PREV_CNT_PAYMENT_SUM                        float16
 323  PREV_DAYS_DECISION_MIN                      float64
 324  PREV_DAYS_DECISION_MAX                      float64
 325  PREV_DAYS_DECISION_MEAN                     float64
 326  PREV_DAYS_FIRST_DRAWING_MIN                 float32
 327  PREV_DAYS_FIRST_DRAWING_MAX                 float32
 328  PREV_DAYS_FIRST_DRAWING_MEAN                float32
 329  PREV_DAYS_FIRST_DUE_MIN                     float32
 330  PREV_DAYS_FIRST_DUE_MAX                     float32
 331  PREV_DAYS_FIRST_DUE_MEAN                    float32
 332  PREV_DAYS_LAST_DUE_MIN                      float32
 333  PREV_DAYS_LAST_DUE_MAX                      float32
 334  PREV_DAYS_LAST_DUE_MEAN                     float32
 335  PREV_DAYS_TERMINATION_MIN                   float32
 336  PREV_DAYS_TERMINATION_MAX                   float32
 337  PREV_DAYS_TERMINATION_MEAN                  float32
 338  PREV_SELLERPLACE_AREA_NUNIQUE               float64
 339  PREV_SELLERPLACE_AREA_MEAN                  float64
 340  PREV_NAME_YIELD_GROUP_NUNIQUE               float64
dtypes: Int64(2), float16(69), float32(154), float64(71), int16(2), int32(2), int64(5), int8(36)
memory usage: 66.4 MB

# Save Dataset

In [148]:
# Ekspor dan kompres data train ke CSV dengan format gzip
merge_train_final.to_csv('new_train.csv.gz', index=False, compression='gzip')
# Ekspor dan kompres data test ke CSV dengan format gzip
merge_test_final.to_csv('new_test.csv.gz', index=False, compression='gzip')

# PADA MERGE NANTI COBA UNTUK PAKAI OUTER KARENA:
1. Nasabah mungkin punya installment tapi tidak punya credit card
2. Nasabah mungkin punya posh cash balance tapi tidak dengan installment